![This is the combination of spark and python !](https://miro.medium.com/v2/format:webp/1*nPcdyVwgcuEZiEZiRqApug.jpeg)

##üöóThe use üöåof `help()` üöëcommend !_____________üöì__________

In [0]:
#This is a help() commend that halp you with the document of any function ! in pyspark !
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
    or a :class:`numpy.ndarray`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
        :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.

        When ``schema`` is a list of column names, the type of each column
        will be inferred from ``data``.

        When ``schema`` is ``None``, it will try to infer the schema (column names and types)
        from ``data``, which should be an RDD of either :class:`Row`,
        :class:`namedtuple`, or :class:`dict`.

        When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must
        match the real data, or an exception will be thrown at runtime. If the given schema is
        not :class:`pyspark.sql.types.StructType`, it will be wrapped into a
        :class:`pyspark.sql.types.StructType` as its only field, and the field name will be
        "value". Each record will also be wrapped into a tuple, which can be converted to row
        later.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring. The first few rows will be used
        if ``samplingRatio`` is ``None``.
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

        .. versionadded:: 2.1.0

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with `spark.sql.execution.arrow.pyspark.enabled=True` is experimental.

    Examples
    --------
    Create a DataFrame from a list of tuples.

    >>> spark.createDataFrame([('Alice', 1)]).collect()
    [Row(_1='Alice', _2=1)]
    >>> spark.createDataFrame([('Alice', 1)], ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame from a list of dictionaries

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    Create a DataFrame from an RDD.

    >>> rdd = spark.sparkContext.parallelize([('Alice', 1)])
    >>> spark.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = spark.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame from Row instances.

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = spark.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame with the explicit schema specified.

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = spark.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame from a pandas DataFrame.

    >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    Create  a DataFrame from an RDD with the schema in DDL formatted string.

    >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> spark.createDataFrame(rdd, "int").collect()
    [Row(value=1)]

    When the type is unmatched, it throws an exception.

    >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

In [0]:
type(spark)# this is a object of spark  section !

Out[2]: pyspark.sql.session.SparkSession

In [0]:
from pyspark.sql.types import *
#We can create a dataframe in spark using tuples inside the list !
data = [(1,'vinay'),(2,'kumar')]
sch = StructType([StructField(name = 'ID',dataType=IntegerType()),#This is a one way of creating the schema for the dataframe !
            StructField(name = 'NAME',dataType=StringType())])
df = spark.createDataFrame(data=data,schema = sch)
df.show()
df.printSchema()

+---+-----+
| ID| NAME|
+---+-----+
|  1|vinay|
|  2|kumar|
+---+-----+

root
 |-- ID: integer (nullable = true)
 |-- NAME: string (nullable = true)

##üöÅIn real life where we need to use the `null values` in the column in the dataframe in that case !

In [0]:
#What if there is a need of null values in a column !
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import lit,when

spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()
sch = StructType([StructField(name = 'ID',dataType = IntegerType(),nullable=False),
                    StructField(name = 'NAME',dataType = StringType(),nullable=False),
                    StructField(name = 'PH_NO',dataType = LongType(),nullable=True)])

data = [(1,'Vinay',7013731005),(2,'Kumar',9110788277),(3,'sai',1234567897),(4,'bala',None)]

df = spark.createDataFrame(data=data,schema = sch)
df.show()
df.printSchema()


#Now if i want to give a default value to the variable then i would use the lit()-> function from 
#--> "from pyspark.sql.functions import lit,when"

#Now we can change the null values with the default value !
default_value = 9999999999
df = df.withColumn('PH_NO',when(df['PH_NO'].isNull(),lit(default_value)).otherwise(df["PH_NO"]))
                   
df.show()
df.printSchema()

# This is how we can chage the null values to the default values !

+---+-----+----------+
| ID| NAME|     PH_NO|
+---+-----+----------+
|  1|Vinay|7013731005|
|  2|Kumar|9110788277|
|  3|  sai|1234567897|
|  4| bala|      null|
+---+-----+----------+

root
 |-- ID: integer (nullable = false)
 |-- NAME: string (nullable = false)
 |-- PH_NO: long (nullable = true)

+---+-----+----------+
| ID| NAME|     PH_NO|
+---+-----+----------+
|  1|Vinay|7013731005|
|  2|Kumar|9110788277|
|  3|  sai|1234567897|
|  4| bala|9999999999|
+---+-----+----------+

root
 |-- ID: integer (nullable = false)
 |-- NAME: string (nullable = false)
 |-- PH_NO: long (nullable = true)

##üé∞In this cell we are trying to create a custom data frame with different styles of creatin a schema !

In [0]:
# Initialize SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.types import *

spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

data = [(1.8978, 'vinay'), (2.9, 'kumar')]



# sch = StructType([
#     StructField(name='ID', dataType=FloatType()),
#     StructField(name='NAME', dataType=StringType())
# ])

#                       (OR)                --- we can use other way also !

sch = StructType().add(field='ID',data_type=FloatType(),nullable=False)\
                .add(field='Name',data_type=StringType(),nullable=True)
#This above way much more readable!

df = spark.createDataFrame(data=data, schema=sch)



# Cast the 'ID' column to IntegerType
df = df.withColumn("ID", df["ID"].cast(IntegerType()))
# This is how we can change the data type of a column after creating the dataframe in pyspark !

df.show()# This will show the data_frame !Just like 'print()' in python to shoe data_frames !
df.printSchema()# This will print the schema ! of the data_frame !

+---+-----+
| ID| Name|
+---+-----+
|  1|vinay|
|  2|kumar|
+---+-----+

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)

##üçîWe can create a data not just using tuples inside a list but we can use the dict inside the list also and for this we don't have to mention 

##üçüschema because the keys will place as a columns names !

In [0]:
#Now we will create a data_frame data not just from list of tuples !
#But using the list of dict!
#In this the keys will become the columns names !
data = [{'id':1,'name':'vinay'},
        {'id':2,'name':'kumar'},
        {'id':3,'name':None}]

df = spark.createDataFrame(data= data)
df.show()

+---+-----+
| id| name|
+---+-----+
|  1|vinay|
|  2|kumar|
|  3| null|
+---+-----+

##üé≠This is a `real life situation` !

In [0]:
#NOTE :---
#                   ID,Name
#                   1,John
#                   ,Smith
#                   3,Alice
#The above thing is the data of a .csv file in that we can see the second row
#have a dat abscens in pyspark we need to see the null in data frame if the file data is mentened as None !
#But in this the data is just ''-blank !
#Then we will do !


                                    # from pyspark.sql import SparkSession

                                    # # Initialize SparkSession
                                    # spark = SparkSession.builder \
                                    #     .appName("CSV Example") \
                                    #     .getOrCreate()

                                    # # Read the CSV file and specify the nullValue parameter
                                    # df = spark.read.csv("sample.csv", header=True, nullValue="")

                                    # df.show()

##üéüÔ∏èReading the `.csv` file from the pyspark !

In [0]:
        #Now we will see how to read the .csv files into pyspark !
# file_location = "/FileStore/tables/prac_dataset_-1.csv"
df = spark.read.csv(path = "/FileStore/tables/prac_dataset_-1.csv",header=True,inferSchema=True)
# display(df) #This will display in the tabler form !
 
# df.printSchema()
#df.show() #This will show the data in the raw form !
df.head(3)#This will provide the list of values !
k1 = df.columns
# print(k1[4:7])
dff = df.select(k1[3:8]).limit(3)#this is how we can specifi the no_of rows 
#But it is just from the start !
dff1 = df.select(k1[3:8]).collect()[3:8] #This is used to retrive the bunch of rows in the any place from the data_frame !
# dff.show()
display(dff)
display(dff1)
display(df)

##üóÉÔ∏èThis is the other way to acessing the file !

In [0]:
#This is the other way to read the data too
df =spark.read.format('csv')\
                            .option('header',True)\
                            .load('/FileStore/tables/prac_dataset_-1.csv')
display(df)

##‚òÑÔ∏èHow to read/write dataframes into the CSV file using the PySpark !

In [0]:
from pyspark.sql import *

data = [(1,'vinay'),(2,'kumar')]
sch = ['id','name']
df_1 =spark.createDataFrame(data = data,schema = sch)
df_1.show()


df.write.csv(path='dbfs:/FileStore/samp/r1',header = True)

##üò∂‚Äçüå´Ô∏èThis is a very Imp concept called `Mode` while writing the data to the file path !

ü™ÇWe will get the error because on the concept called 'mode'
The mode is nothing but the attribute in the df.write.csv() there are 
four types of modes !
1) --> append this will appends the newley given data to file path !
2) --> ignore this will not rise any error if the file is already in that given file path !
3) --> overwrite this will overwrite the csv file in that given file path !
4) --> error this is a {default} if we havent specified any mode then pyspark will take this this will rise the error if the file is exist in the given file path !
#####üß®And also there is also an IMP concept to know when ever we write the data or a data_frame in code and tries to store in the file system by using the above codeing part
#####üß®But when we go and see the actual structer of the file that have been stored then we can see lot of part's of the file that u have uploded int that file path
#####üß®Because of the concept of {The master and -the worker nodes} along with that files (parted) you will find the log files and some other files to those are created by spark !

In [0]:
df.write.csv(path='dbfs:/FileStore/samp/r1',header = True)#,mode='overwrite'
#IF we run the above code then it will throw the error "AnalysisException: Path dbfs:/FileStore/samp already exists."

In [0]:
#Let extract the data from the created .csv file !
display(spark.read.csv(path="dbfs:/FileStore/samp/r1"),header=True)

##üîûHow to read the json files in to the pyspark and aslo we will know how to write into the json file !

##NOTE:-
          In this we can use the parameter { multiLine = } what it is used for means that 
          when ever we are having the json data in this formate !
          {'id':1,'name':'vinay','age':23}
          {'id':2,'name':'kumar','age':32}


          just the the above format if the json data is then the multiLine = False !

          If the data format is like this 
          {
          'id':1,
          'name':'vinay',
          'age':23
          }
          {
          'id':2,
          'name':'kumar',
          'age':32
          }


          If the above format is like this then the multiLine = True !


          It helps in reading the format in the json file !

In [0]:
#Now we will read the data outof the given file path !
from pyspark.sql.types import *
sch = StructType().add(field = 'ID',data_type = IntegerType(),nullable = True)\
                    .add(field = 'Name',data_type = IntegerType(),nullable = True)\
                    .add(field='AGE',data_type=StringType(),nullable=True)
df_json = spark.read.json(path = 'dbfs:/FileStore/New_Text_Document.json',schema= sch,multiLine = False)
df_json.printSchema()
df_json.show()

##üå≠There is an other way of reading the json file !
####üçûThat is using the .format() --> function !

In [0]:

df = spark.read.format('json')\
                    .option('schema',sch)\
                    .load('dbfs:/FileStore/New_Text_Document.json')
df.show()#This .show() will show the first 20 characters from the data if your data is much longer than that then it will show first '20 char...'
#In this .show() there is attributes like 'n = '20'' --> this will tell how many rows to print!
#'truncate = 'True' or 'int' --> this will take an int or bool as a parameter it will turncata a data in the given length if not it will truncate the length of the data in 20 if falst it will show all the data with out truncating the data ! --> by defalut it will be 20 !
#'vertical = 'False'' then it will show the schema in the normaly way but if u give the parameter as the 'True' --> by default it will be "False"
df.printSchema()
display(df)#This will the display the data in nice tabler format !

##ü•©How to create a json data and puting the data in the file !

In [0]:
data =[(1,'vinay'),(2,'kumar')]
sch = ['id','name']
df_1 = spark.createDataFrame(data = data,schema = sch)
df_1.write.json('dbfs:/FileStore/json')

In [0]:
#In this cell i am gonna adda new data to the same location ! with mode = append !
data_1 = [(3,'sai'),(4,'raj')]
sch_1 = ['id','name']
df_2 = spark.createDataFrame(data = data_1,schema=sch_1)
df_2.write.json("dbfs:/FileStore/json",mode = 'append')

In [0]:
#Reading the Data from the json ! where we have stored !
gg = spark.read.format('json')\
                .option('Header',True)\
                .load('dbfs:/FileStore/json')
display(gg)                

#After append new data we can see the new data has been added !

##üç∞How to read the parquet file and store the data into the parquet file !

In [0]:
df = spark.read.parquet('dbfs:/FileStore/json/mt_cars.parquet',header=True)
display(df)

##üçñHow to add the data into the parquet file !

In [0]:
data = [(1,'vinay'),(2,'kumar')]
sch = ['id','name']
df = spark.createDataFrame(data = data,schema=sch)
display(df)
df.write.parquet('dbfs:/FileStore/parquet')

In [0]:
#now we will add the new data to the parquet file path ! with mode = append !
data_1  = [(3,'sai'),(4,'raj')]
sch = ['id','name']
df_1 = spark.createDataFrame(data = data_1,schema = sch_1)
df_1.write.parquet('dbfs:/FileStore/parquet',mode = 'append')

In [0]:
#After adding the new data i would like to see the data !
display(spark.read.parquet('dbfs:/FileStore/parquet'))
#There u can see the newly added data !

In [0]:
#This below peace of code is used to remove any file path that is given !

from pyspark.dbutils import DBUtils

dbutils = DBUtils(spark)
fp = 'dbfs:/FileStore/json/mt_cars.parquet'
dbutils.fs.rm(fp)

##üê∏Now we will know the use case of the .show() function !!!

In [0]:
#.show() ---> function

df.show(n=1,vertical =True,truncate = 2)

#This .show() will show the first 20 characters from the data if your data is much longer than that then it will show first '20 char...'
#In this .show() there is attributes like 'n = '20'' --> this will tell how many rows to print!
#'truncate = 'True' or 'int' --> this will take an int or bool as a parameter it will turncata a data in the given length if not it will truncate the length of the data in 20 if falst it will show all the data with out truncating the data ! --> by defalut it will be 20 !
#'vertical = 'False'' then it will show the schema in the normaly way but if u give the parameter as the 'True' --> by default it will be "False"

##üß†Now we will see how to add a new column or change values in a column or chage the column datatype in dataframe !

In [0]:
from pyspark.sql.functions import col,lit
data  = [(1,'vinay',25000),(2,'kumar',34000),(3,'sai',43000)]
sch  =['ID','Name','Salary']
df = spark.createDataFrame(data = data,schema = sch)
df.show()
df.printSchema()#In this result the column 'salary datatype is showing as 'long !'' but we need to change the data type in that column 
#yes we can do that using defining the required data schema but apart from that we can also do this !
df = df.withColumn(colName ='salary',col = col('salary').cast('Integer'))
df.printSchema()

In [0]:
#In the above cell we have used the method col() to read a column from the data frame but we can use <data_frame['<column_name>']> this will also work !

#In the above example i have changed the data type of a specific column in the dataframe !
#Now i need to change the values in the column in the dataFrame !
df_2 = df.withColumn('salary',col('salary')+4.87)
df_2.show()
df_2 = df_2.withColumn('salary',col('salary').cast('Float'))
df_2.printSchema()

#From this i have learned that we cannot do the casting and the data upgrade at the same time !

#now what if i need to add a new colum to the dataframe !! then 
df_3 = df_2.withColumn('country',lit('India'))#at first it will check for the given column in the dataframe if not found it will create the column 
#with that name and to pass a data in to that column we will use the function 'lit()' in this we can give the data !
df_3.show()

#Ok now i woul like to change name of the column in the dataframe !! then
df_4 = df_3.withColumnRenamed('salary','payment_for_their_work')
df_4.show()
#Using the .withColumnRenamed() function we can actully change the column name that is there in the dataframe !

##ü•∏In this we will learn a little more about creating schema !

In [0]:
from pyspark.sql.types import *
#lets know a little more about the creating the schema for the data !
data = [(1,('vinay','kumar'),23000),(2,('sai','ravi'),67000)]
#if we cleary observe the data structer then you might find a tuple inside a tuple in this situation how can we create a schema for such data !
inner_sch = StructType().add(field = 'first_name',data_type = StringType())\
                        .add(field = 'last_name',data_type = StringType())
outer_sch = StructType().add(field = 'Id',data_type=IntegerType())\
                        .add(field = 'Name',data_type = inner_sch)\
                        .add(field = 'Salary',data_type = IntegerType())

df = spark.createDataFrame(data = data,schema = outer_sch)
df.show()
display(df)
df.printSchema()

#This is how you have to deal with the nested part of the data !

+---+--------------+------+
| Id|          Name|Salary|
+---+--------------+------+
|  1|{vinay, kumar}| 23000|
|  2|   {sai, ravi}| 67000|
+---+--------------+------+

Id,Name,Salary
1,"List(vinay, kumar)",23000
2,"List(sai, ravi)",67000

root
 |-- Id: integer (nullable = true)
 |-- Name: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- Salary: integer (nullable = true)

##‚ôªÔ∏èNow we will learn the Array type in the pyspark !

In [0]:
from pyspark.sql.types import *
data = [('abc', [1,2]),('zyx',[3,4]),('jlk',[6,7])]
sch = ['id','numbers']
df = spark.createDataFrame(data = data , schema = sch )
df.show()
df.printSchema()


#In the schema it is showing the arrayType() but in side that by default it is showing the data type a long we can change that using !
sch = StructType().add(field = 'Id',data_type = StringType())\
                    .add(field = 'Number',data_type = ArrayType(IntegerType()))
df_1 = spark.createDataFrame(data = data,schema = sch)
df_1.show()
df_1.printSchema()
#This is how we can make use of the array datatype !
#The difference between inner tuple and the inner array is that for tuple'()' and this is for '[]' array and also for inner tuple the dataType is Structer
#But when it comes to the list inside the tuple then the type would be array not structer !

#And also we can acess the elementd in side the array elements from the indexing !

df_1  = df_1.withColumn('firstNumber',df_1.Number[0])#This line will creata a column that will take the first element of the Array as a data in it !

display(df_1)

In [0]:
#Not only we can extract the data from the array but we can create the array and add that data to the new column !
from pyspark.sql.functions import *
data = [(1,3),(53,73),(32,74),(3,35)]
sch  = ['num_1','num_2']
df = spark.createDataFrame(data = data,schema = sch)
#now i need to add a column that stires the array of the values of num_1 and num_2 in that array !
df = df.withColumn('numbers',array(df.num_1,df.num_2)).show() #in order to work with array() function we need to import that !
#from the above column wee can see that we can use col(<column_name>) or df['<column_name>'] or <data_frame>.<column_name>

+-----+-----+--------+
|num_1|num_2| numbers|
+-----+-----+--------+
|    1|    3|  [1, 3]|
|   53|   73|[53, 73]|
|   32|   74|[32, 74]|
|    3|   35| [3, 35]|
+-----+-----+--------+

##Now we use the functions like explode(),split(),array() and array_contains() functions in pyspark !

In [0]:
from pyspark.sql.functions import *
data  = [(1,'vinay',['java','python']),(2,'kumar',['c','c++']),(3,'sai',['javascript','python','c'])]
sch = ['Id',"Name",'Skills']
df = spark.createDataFrame(data = data ,schema = sch)
df = df.withColumn('Id',df.Id.cast(IntegerType()))#This is used to change the dataType()
df.show()
df.printSchema()

#Now we will see how the explode() function is used !
#In the Array there are elements in the skills column in the data_frame but if i need the column to show the every data in the array indualy in the column then we will 
#use the explode(<column_name>)
df_1 = df.withColumn('skills',explode(df.Skills))
df_1.show()
#In the output you can see a lot more lines the dataframe this is because of the explode and it will print the every element in the array into the new row 
#Just like this we can also create a new column and do this in that column !

In [0]:
#Now we will see how the split() function is used !
#This split() is used when the given data is a single string with out using a array 
#like '.net,python,java' rather then using a array like this ['.net','python','java']

#In this kind of situatins we can use this split() function !
from pyspark.sql.functions import *
from pyspark.sql.types import *
data = [(1,'vinay','.net,python,java'),(2,'kumar','c,java,javascript'),(3,'sai','HTML,css,javascript')]
sch = ['Id','Name','Skills']
df = spark.createDataFrame(data = data,schema = sch)
df = df.withColumn('Skills',split(df.Skills,','))#In this place we are spliting the data in the Skills !

df.show(truncate=50)
df.printSchema()
df = df.withColumn('Id',df.Id.cast(IntegerType()))
df.show(truncate=50)
df.printSchema()
#Now we will se how to use the array_contains() !
data  = [(1,'vinay',['java','python']),(2,'kumar',['c','c++']),(3,'sai',['javascript','python','c'])]
sch = ['Id',"Name",'Skills']
df = spark.createDataFrame(data = data,schema = sch)
df.show()
df_1 = df.withColumn('Skill',array_contains(df.Skills,'python'))#In this the array_contains() we will take a column and a value 
#Then it will check if the given value is in the provided column and if it is there the 'True' if not 'False' even the data is 'None' it is 'False'
#it will even create a new column if u want to
df_1.show()

##Now we will use the `MapType` columns in pyspark !

In [0]:
#The mapType is used to give a dataType to the dictionary type data in the dataFrame !
from pyspark.sql.functions import *
from pyspark.sql.types import *
data = [(1,'vinay',{'city':'kurnool','town':'Nandikotkur'}),(2,'kumar',{'city':'Nandyal','town':'Nandyal'}),(3,'sai',{'city':'anathapur','town':'koyalakuntla'})]
sch = StructType().add(field = 'Id',data_type=IntegerType())\
                    .add(field = 'Name',data_type=StringType())\
                    .add(field='Address',data_type=MapType(StringType(),StringType()))
df = spark.createDataFrame(data = data,schema = sch)
df.show()
df.printSchema()
#The data in the dataframe is using the dictionary then for the creation of the schema for that dataframe we can use MapType() to represent the dictionary dataformat
#But what if the dict data is a mixed dict then like --> "data = [(1,'vinay',{'city':'kurnool','age':23}),(2,'kumar',{'city':'Nandyal','age':65}),(3,'sai',{'city':'anathapur','age':44})]"
#Then the StringType() can store both the string and as well as the integer and float type as well !


#NOTE:-
#If u use a tupe() in side the dataframe as a nested ! then the dataType that we use for it is StructType()
#If u use a list[] in side the dataframe as a nested ! then the dataType that we use for it is ArrayType()
#If u use a dict{} in side the dataframe as a nested ! then the dataType that we use for it is MapType()
#just like the array we will access the data inside the dict !

df = df.withColumn('City_',df.Address['city'])#This is the one way of acessing the values in the dict from the dataFrame !
df.show(truncate = 50)
df = df.withColumn('Town_',df.Address.getItem('town'))#This is the other way of getting the values from the dataFrame !
df.show()

##Now we use `map_keys()`,`map_values()`,`explode()` in the pyspark

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
data = [(1,'vinay',{'city':'kurnool','town':'Nandikotkur'}),(2,'kumar',{'city':'Nandyal','town':'Nandyal'}),(3,'sai',{'city':'anathapur','town':'koyalakuntla'})]
sch = StructType().add(field = 'Id',data_type=IntegerType())\
                    .add(field = 'Name',data_type=StringType())\
                    .add(field='Address',data_type=MapType(StringType(),StringType()))
df = spark.createDataFrame(data = data,schema = sch)
df.show()
df.printSchema()                    
df_1 = df.select('Id','Name','Address',explode(df['Address']))#when exploding thw dict it will give two values 'kays' and 'values' so need to create two columns !
df_1.show(truncate = False)
#this is how we will use the explode() function on the mapType() using the select()
#And also the select is a function that selects the columns that has been given as a parameters and will shows those colmns and we can also add the condition if u want to !

#If we closley observe the dataframe you can see the newly added colunmns are storing the keys and values in each supperate row !
#what if we need to store the keys of the MapType() in a list in that row !
#For that !
df_2 = df.withColumn('keys',map_keys(df.Address))
df_2.show() #In this we ccan see a newly added columns holds a array of keys in that MapType()


#What if i need to store the values of the MapType() in a list in a new column in the dataFrame !
df_3 = df_2.withColumn('values',map_values(df.Address))
df_3.show(truncate = False)

+---+-----+--------------------+
| Id| Name|             Address|
+---+-----+--------------------+
|  1|vinay|{town -> Nandikot...|
|  2|kumar|{town -> Nandyal,...|
|  3|  sai|{town -> koyalaku...|
+---+-----+--------------------+

root
 |-- Id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Address: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

+---+-----+-----------------------------------------+----+------------+
|Id |Name |Address                                  |key |value       |
+---+-----+-----------------------------------------+----+------------+
|1  |vinay|{town -> Nandikotkur, city -> kurnool}   |town|Nandikotkur |
|1  |vinay|{town -> Nandikotkur, city -> kurnool}   |city|kurnool     |
|2  |kumar|{town -> Nandyal, city -> Nandyal}       |town|Nandyal     |
|2  |kumar|{town -> Nandyal, city -> Nandyal}       |city|Nandyal     |
|3  |sai  |{town -> koyalakuntla, city -> anathapur}|town|koyalakuntla|
|3  |sai  |{town -> koyalakuntla, city -> anathapur}|city|anathapur   |
+---+-----+-----------------------------------------+----+------------+

+---+-----+--------------------+------------+
| Id| Name|             Address|        keys|
+---+-----+--------------------+------------+
|  1|vinay|{town -> Nandikot...|[town, city]|
|  2|kumar|{town -> Nandyal,...|[town, city]|
|  3|  sai|{town -> koyalaku...|[town, city]|
+---+-----+--------------------+------------+

+---+-----+-----------------------------------------+------------+-------------------------+
|Id |Name |Address                                  |keys        |values                   |
+---+-----+-----------------------------------------+------------+-------------------------+
|1  |vinay|{town -> Nandikotkur, city -> kurnool}   |[town, city]|[Nandikotkur, kurnool]   |
|2  |kumar|{town -> Nandyal, city -> Nandyal}       |[town, city]|[Nandyal, Nandyal]       |
|3  |sai  |{town -> koyalakuntla, city -> anathapur}|[town, city]|[koyalakuntla, anathapur]|
+---+-----+-----------------------------------------+------------+-------------------------+

##Let use use the `Row() class` in Pyspark !

In [0]:
from pyspark.sql.functions import *
#The Row() is nothing a function that creates the row in a dataFrame just like a list!
k1 = Row('vinay',23)
print(k1[1])#This is how you can access the values in the Row() function just like List[]

#But what makes it different from List is that you can provide variables or keys to those values inside the Row() function !
k2 = Row(name ='Vinay',age = 34)
print(k2.name)#By just calling the name of the key we can access the value of that key !
print(k2.name +' '+ str(k2.age) )
#If u see colsley you can spot a difference ! that is it act's like list and also like dict but in this we will create a variales but not keys and we also use '=' not ':' like in dict's

#The good thing about this Row() function is that we can use it to create the class in this !

k = Row('Name','Age','skill')#In this k is like a class and the name ,age and skills are the attributes in that class 
k1 = k('vinay',23,'Python')#The k1 is a object to this class and in this we are sending the data to that variables in that class
k2 = k('Kumar',33,'java')

print(k2.Name)#This is how we can access the values based on the object that we have created to that class !

#And we can make this oblects into a data frame !

df = spark.createDataFrame([k1,k2])#This is how we will use the Row() to create rows in the dataFrame !
df.show()
df.printSchema()


#We can use this Row() function while defining the inner tupe like structType() you can use Row() or just () in to the data !

23
Vinay
Vinay 34
Kumar
+-----+---+------+
| Name|Age| skill|
+-----+---+------+
|vinay| 23|Python|
|Kumar| 33|  java|
+-----+---+------+

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- skill: string (nullable = true)

##Let us use the `Column class` in pyspark !

      This is a vary important thing to know that is we cannot add a outer values in to the array or a tuple or a dict in to the column of a 
      dataframe but we can use the values that are already in the dataframe to add those values in to the array or a tuple or a dict !

      But when it comes to the external data for adding the values in to the column is differentily done like this
      if i have a tuple(1,2,3)
      and i wanted to creata a new column and i want to put this tuple in to that column and for that the dataType() have to be a StructType()

      it can be done by 
            using struct() and lit() the lit() is used to pust a single value in and the struct() will create a tuple of values !!
            k1 =(1,2,3)
            struct([lit(i) for i in k1]) #This is how we need to pass a each value to the list ! 


      just like this we need to work for the array also and for adding the dict to the column we need to use the create_map() function with lit()
      for this also we need to pass the list of keys and values like

      a dict --> sam = {'height':158,'gender':'M'}
      we need to make the dict in to a list ll=['height', 158, 'gender', 'M'] and pass those each value to the method like creat_map([lit(i) for i in ll])
      this is how we can be able to put the dict into the column !!!
      and i have used the chain function from itertools to split the keys and values from the dict to the values of the list !
      kk = list(chain(*sam.items()))

In [0]:
#This is adding the tuple or StructType() data into the column !


from pyspark.sql.functions import *
from pyspark.sql.types import *
data  = [(1,'vinay',25000),(2,'kumar',34000),(3,'sai',43000)]
sch  =['ID','Name','Salary']
df = spark.createDataFrame(data = data,schema = sch)
df.show()
df.printSchema()
#Now we will add a new column for the above dataFrame !
sam = ('red','black')
df = df.withColumn('New_column',struct([lit(x) for x in sam]))#this is how we can made a structType in side the column !
df.show()
df.printSchema()

+---+-----+------+
| ID| Name|Salary|
+---+-----+------+
|  1|vinay| 25000|
|  2|kumar| 34000|
|  3|  sai| 43000|
+---+-----+------+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

+---+-----+------+------------+
| ID| Name|Salary|  New_column|
+---+-----+------+------------+
|  1|vinay| 25000|{red, black}|
|  2|kumar| 34000|{red, black}|
|  3|  sai| 43000|{red, black}|
+---+-----+------+------------+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)
 |-- New_column: struct (nullable = false)
 |    |-- col1: string (nullable = false)
 |    |-- col2: string (nullable = false)

In [0]:
#This is adding the array or ArrayType() data into the column !

from pyspark.sql.functions import *
from pyspark.sql.types import *
data  = [(1,'vinay',25000),(2,'kumar',34000),(3,'sai',43000)]
sch  =['ID','Name','Salary']
df = spark.createDataFrame(data = data,schema = sch)
df.show()
df.printSchema()
#Now we will add a new column for the above dataFrame !
sam = ['red','black']
df = df.withColumn('New_column',array([lit(x) for x in sam]))#this is how we can made a arrayType in side the column !
df.show()
df.printSchema()

+---+-----+------+
| ID| Name|Salary|
+---+-----+------+
|  1|vinay| 25000|
|  2|kumar| 34000|
|  3|  sai| 43000|
+---+-----+------+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

+---+-----+------+------------+
| ID| Name|Salary|  New_column|
+---+-----+------+------------+
|  1|vinay| 25000|[red, black]|
|  2|kumar| 34000|[red, black]|
|  3|  sai| 43000|[red, black]|
+---+-----+------+------------+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)
 |-- New_column: array (nullable = false)
 |    |-- element: string (containsNull = false)

In [0]:
#This is adding the dict or MapType() data into the column !

rom pyspark.sql.functions import *
from pyspark.sql.types import *
from itertools import chain
data  = [(1,'vinay',25000),(2,'kumar',34000),(3,'sai',43000)]
sch  =['ID','Name','Salary']
df = spark.createDataFrame(data = data,schema = sch)
df.show()
df.printSchema()
#Now we will add a new column for the above dataFrame !
sam = {'height':158,'gender':'M'}
kk = list(chain(*sam.items()))
# samm = str(sam)
df = df.withColumn('New_column',create_map([lit(i) for i in kk]))
#Thi sis how we are adding the dict values to the column !
df.show()
df.printSchema()
print(kk)

+---+-----+------+
| ID| Name|Salary|
+---+-----+------+
|  1|vinay| 25000|
|  2|kumar| 34000|
|  3|  sai| 43000|
+---+-----+------+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

+---+-----+------+--------------------+
| ID| Name|Salary|          New_column|
+---+-----+------+--------------------+
|  1|vinay| 25000|{height -> 158, g...|
|  2|kumar| 34000|{height -> 158, g...|
|  3|  sai| 43000|{height -> 158, g...|
+---+-----+------+--------------------+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)
 |-- New_column: map (nullable = false)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = false)

['height', 158, 'gender', 'M']

##Now lets use `when()` and `otherwise()` function in pyspark !

In [0]:
from pyspark.sql.functions import when
#The when() and otherwise() function are used as a cundictional statements just like if ans if_else !
data = [(1,'vinay','M',50000),(2,'kumar','',43000)]
sch = ['Id','Name','Gender','Salary']
df = spark.createDataFrame(data,sch)
df.show()
df = df.select('Id','Name',when(df.Gender.isin('M','m'),'Male').when(df.Gender == 'F','Femail').otherwise('Unknown').alias('Gender'),'Salary')
#Inside the condition if u are comparibg with a single value then 'x == 1' id ok but if u want to check if a value is in a list or not then we can
#use this .isin() function ! and .alias() is used to give a name ! !
df.show()
df.printSchema()

+---+-----+------+------+
| Id| Name|Gender|Salary|
+---+-----+------+------+
|  1|vinay|     M| 50000|
|  2|kumar|      | 43000|
+---+-----+------+------+

+---+-----+-------+------+
| Id| Name| Gender|Salary|
+---+-----+-------+------+
|  1|vinay|   Male| 50000|
|  2|kumar|Unknown| 43000|
+---+-----+-------+------+

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = false)
 |-- Salary: long (nullable = true)

##Now we will know the `alias()` and `asc()` and `desc()` and `cast()` and `like()` on a column in the dataframe in pyspark!

In [0]:
data = [(1,'vinay',50000),(2,'kumar',43000)]
sch = ['Id','Name','Salary']
df = spark.createDataFrame(data,sch)
df.show()
df.printSchema()
#Use of the .alias()
df_1 = df.select(df.Id.alias('mad'))#In order to perform the .alias() function we need to give like this df.Id.alias() not 'Id'
df_1.show()
#Use of .asc() and .desc()
df_2 = df.sort(df.Name.asc())#This will show all the data frame but sort the dataFrame with a column in asc() or desc()
df_2.show()

#Use of .cast()
df_3 = df.select(df.Id.cast('Int'),df.Name,df.Salary.cast(IntegerType())) #In this you can use .cast('Int') or .cast(IntegerType())
df_3.show()
df_3.printSchema()

#Use of .like()
df_4 = df.select(df.Name.like('_u%'))#This will only show the boolien data in the table and also you only get that only column !
# to get the actiual data fro that like you can use .filter()
df_4.show()

df_5 = df.filter(df.Name.like('_u%'))#This will give all the dataframe data based on the .like() function !
df_5.show()

+---+-----+------+
| Id| Name|Salary|
+---+-----+------+
|  1|vinay| 50000|
|  2|kumar| 43000|
+---+-----+------+

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

+---+
|mad|
+---+
|  1|
|  2|
+---+

+---+-----+------+
| Id| Name|Salary|
+---+-----+------+
|  2|kumar| 43000|
|  1|vinay| 50000|
+---+-----+------+

+---+-----+------+
| Id| Name|Salary|
+---+-----+------+
|  1|vinay| 50000|
|  2|kumar| 43000|
+---+-----+------+

root
 |-- Id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: integer (nullable = true)

+-------------+
|Name LIKE _u%|
+-------------+
|        false|
|         true|
+-------------+

+---+-----+------+
| Id| Name|Salary|
+---+-----+------+
|  2|kumar| 43000|
+---+-----+------+

##Now we will use `filter()` and `where()` function in pyspark !

In [0]:
data = [(1,'vinay','M',50000),(2,'kumar','M',43000),(3,'kavya','F',69000)]
sch = ['Id','Name','Gender','Salary']
df = spark.createDataFrame(data,sch)
df.show()


#Use of the filter()
df.filter(df.Gender == 'M').show()
df.filter((df.Gender == 'M') & (df.Salary >= 45000)).show() #We can use miltipule conditions init!
df.where(df.Name.like('k%') | (df.Salary==50000)).show() #In the same way we can use the where just like filter() function.. !

+---+-----+------+------+
| Id| Name|Gender|Salary|
+---+-----+------+------+
|  1|vinay|     M| 50000|
|  2|kumar|     M| 43000|
|  3|kavya|     F| 69000|
+---+-----+------+------+

+---+-----+------+------+
| Id| Name|Gender|Salary|
+---+-----+------+------+
|  1|vinay|     M| 50000|
|  2|kumar|     M| 43000|
+---+-----+------+------+

+---+-----+------+------+
| Id| Name|Gender|Salary|
+---+-----+------+------+
|  1|vinay|     M| 50000|
+---+-----+------+------+

+---+-----+------+------+
| Id| Name|Gender|Salary|
+---+-----+------+------+
|  1|vinay|     M| 50000|
|  2|kumar|     M| 43000|
|  3|kavya|     F| 69000|
+---+-----+------+------+

##Now we will make use of `distinct()` and `dropDuplicates()` in pyspark !

In [0]:
data = [(1,'vinay','M',50000),(2,'kumar','M',43000),(3,'vinay','F',69000),(4,'vijaya','F',97000),(3,'kavya','F',67000)]
sch = ['Id','Name','Gender','Salary']
df = spark.createDataFrame(data,sch)
df.show()#If u observe closely you can find some duplicates in the dataframe !

# if u want to view the distinct data from the dataframe !
df.distinct().show()#This will show the non duplicate dataframe ! but the drawback of using this function is that it works on the whole dataframe !

#If u need to view the dataframe based on the distinct values of  a single column or milt_column !
df.dropDuplicates().show()#This will just rows as same as the distinct() function ! until u provide a list of column's in the function !
df.dropDuplicates(['Id']).show() #If u provide the column name then it will only type the dropDuplicates in that column !

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| vinay|     M| 50000|
|  2| kumar|     M| 43000|
|  3| vinay|     F| 69000|
|  4|vijaya|     F| 97000|
|  3| kavya|     F| 67000|
+---+------+------+------+

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| vinay|     M| 50000|
|  2| kumar|     M| 43000|
|  3| vinay|     F| 69000|
|  4|vijaya|     F| 97000|
|  3| kavya|     F| 67000|
+---+------+------+------+

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| vinay|     M| 50000|
|  2| kumar|     M| 43000|
|  3| vinay|     F| 69000|
|  4|vijaya|     F| 97000|
|  3| kavya|     F| 67000|
+---+------+------+------+

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| vinay|     M| 50000|
|  2| kumar|     M| 43000|
|  3| vinay|     F| 69000|
|  4|vijaya|     F| 97000|
+---+------+------+------+

##Now we will know the `orderBy()` and `sort()` in the pyspark !

In [0]:
data = [(1,'vinay','M',50000,'HR'),(2,'kumar','M',43000,'Marketing'),(3,'kavya','F',69000,'DevOps'),(4,'vijaya','F',97000,'Testing'),(5,'supna','F',67800,'HR')]
sch = ['Id','Name','Gender','Salary','Departments']
df = spark.createDataFrame(data,sch)
df.show()

#Use of the .sort()
#This is used to sort the data in the dataframe on the perticular column !
df.sort(df.Salary).show()#This will sort the dataframe based on the 'Salary' column and and prints the entire dataframe 
#In the above code u can see by default it take the asc() order but if u want to sort the dataframe based on the two columns and also first in asc() and second one is desc() !
df.sort(df.Departments.desc(),df.Id).show()

#Use of the orderBy() function
df.orderBy(df.Gender,df.Salary).show() #This is just like the .sort() function !

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  1| vinay|     M| 50000|         HR|
|  2| kumar|     M| 43000|  Marketing|
|  3| kavya|     F| 69000|     DevOps|
|  4|vijaya|     F| 97000|    Testing|
|  5| supna|     F| 67800|         HR|
+---+------+------+------+-----------+

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  2| kumar|     M| 43000|  Marketing|
|  1| vinay|     M| 50000|         HR|
|  5| supna|     F| 67800|         HR|
|  3| kavya|     F| 69000|     DevOps|
|  4|vijaya|     F| 97000|    Testing|
+---+------+------+------+-----------+

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  4|vijaya|     F| 97000|    Testing|
|  2| kumar|     M| 43000|  Marketing|
|  1| vinay|     M| 50000|         HR|
|  5| supna|     F| 67800|         HR|
|  3| kavya|     F| 69000|     DevOps|
+---+------+------+------+-----------+

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  5| supna|     F| 67800|         HR|
|  3| kavya|     F| 69000|     DevOps|
|  4|vijaya|     F| 97000|    Testing|
|  2| kumar|     M| 43000|  Marketing|
|  1| vinay|     M| 50000|         HR|
+---+------+------+------+-----------+

##Now we will work on the `union()` and `unionAll()` functions in pyspark !

In [0]:
data = [(1,'vinay','M',50000,'HR'),(2,'kumar','M',43000,'Marketing'),(4,'vijaya','F',97000,'Testing')]
sch = ['Id','Name','Gender','Salary','Departments']
df_1 = spark.createDataFrame(data,sch)
df_1.show()
data = [(3,'kavya','F',69000,'DevOps'),(4,'vijaya','F',97000,'Testing'),(5,'supna','F',67800,'HR')]
sch = ['Id','Name','Gender','Salary','Departments']
df_2 = spark.createDataFrame(data,sch)
df_2.show()

#This are the two different dataframes but both have the same schema!!
#Use of union()
df_1.union(df_1).show()
#In the output you can find the duplicates because the .union() and unionAll() won't remove the duplicates !

#Use of unionAll() same as the union()
#If u want a dataframe that is clean on duplicates you can use the distinct() function with this !
df_1.unionAll(df_2).distinct().sort(df_1.Id).show() #Now it is sorted and free of duplicates !!!

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  1| vinay|     M| 50000|         HR|
|  2| kumar|     M| 43000|  Marketing|
|  4|vijaya|     F| 97000|    Testing|
+---+------+------+------+-----------+

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  3| kavya|     F| 69000|     DevOps|
|  4|vijaya|     F| 97000|    Testing|
|  5| supna|     F| 67800|         HR|
+---+------+------+------+-----------+

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  1| vinay|     M| 50000|         HR|
|  2| kumar|     M| 43000|  Marketing|
|  4|vijaya|     F| 97000|    Testing|
|  1| vinay|     M| 50000|         HR|
|  2| kumar|     M| 43000|  Marketing|
|  4|vijaya|     F| 97000|    Testing|
+---+------+------+------+-----------+

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  1| vinay|     M| 50000|         HR|
|  2| kumar|     M| 43000|  Marketing|
|  3| kavya|     F| 69000|     DevOps|
|  4|vijaya|     F| 97000|    Testing|
|  5| supna|     F| 67800|         HR|
+---+------+------+------+-----------+

##Now we will work with `groupBy()` in pyspark !

In [0]:
data = [(1, 'maheer', 'M' ,5000, 'IT'),\
          (2, 'wafa', 'M' ,6000, 'IT'),\
          (3, 'asi', 'F' ,2500, 'Payroll'),\
          (4, 'sarfaraj','M' ,4000, 'HR'),\
          (5, 'pyarijaan', 'F' ,2000, 'HR'),\
          (6, 'Mahaboob', 'M' ,2000, 'Payroll'),\
          (7, 'ayesha', 'F' ,3000, 'IT') ]
schema = ('id', 'name', 'gender', 'salary','dep')
df = spark.createDataFrame(data,schema)
df.show()

#Use of the .groupBy()
df.groupBy(df.gender).count().show()

#There are much more parameters on the groupBy() !!!
df.select(df.columns).filter(df.salary >= 2000).sort(df.id.desc()).groupBy('dep','gender').count().show()

+---+---------+------+------+-------+
| id|     name|gender|salary|    dep|
+---+---------+------+------+-------+
|  1|   maheer|     M|  5000|     IT|
|  2|     wafa|     M|  6000|     IT|
|  3|      asi|     F|  2500|Payroll|
|  4| sarfaraj|     M|  4000|     HR|
|  5|pyarijaan|     F|  2000|     HR|
|  6| Mahaboob|     M|  2000|Payroll|
|  7|   ayesha|     F|  3000|     IT|
+---+---------+------+------+-------+

+------+-----+
|gender|count|
+------+-----+
|     M|    4|
|     F|    3|
+------+-----+

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|     M|    2|
|Payroll|     F|    1|
|     HR|     M|    1|
|     HR|     F|    1|
|Payroll|     M|    1|
|     IT|     F|    1|
+-------+------+-----+

##No we will use groupBy `agg()` in pyspark !

            NOTE:---->
            
            The groupBy() is an important function while groupin the data in the dataframe -->
            the groupby() function always works with a atleast one aggraigate function like min(),max(),avg(),count(),sun(),etc...
            but if u want to see the full power of the groupBy() function then you have to use the groupBy() function with .agg()
            the .agg() function helps you to use more than one aggriatte functions witht he groupBy() function on the dataframe !
            the syntax- works like this :-
                            <data_frame>.groupBy(<column_name> --> that you want agroup with !)\
                                                            .agg(< \
                                                                aggriagat function {column_name} >,\
                                                                <{ More aggrigate functions }>).show()

            thhe amazing thing about this groupBy() function is that if u ever wana store the list of column data which is grouped tot he column_ in the dataframe 
            for exaple i need to group the dataframe based on the "dipartment" and i need a new column that can store the list of names of the employes in that perticular
            dipartment then you can simply use the collect_list(<column_name>)  in this case name of th employ ! and also you can sore the unique 
            employ names if there are duplicates in that names you can use collect_set(<column_name>) this will remove the duplicates ! from that list !

            And there is other functions like first() and last() this will give the first value in the list of employ names 
            and last name of the employ in that list and also u can use this on some other column as well to see the first and last values of the grouped data !

            And there is last aggricate function tha is super good ! to know 
            if you want to compare the data in the databframe based on the two columns where the first column is used to group the data in the dataframe 
            and the second column is used to show the distinct data in that column at the top and the aggricate function out put in the below the second column{distinct_data}
            and besid the grouped column 

          The syntax- works like this :-
                            <dataFrame>.groupBy(<Column_name>).pivot(<Column_name>).agg(<{some aggricate function !}>).show()
                            this kind of aggricate function is used when you want to see the max('salary') in each 'gender' with grouped on the 'dipartment columns !'

In [0]:
from pyspark.sql.functions import *
data = [(1, 'maheer', 'M' ,5000, 'IT'),\
          (2, 'wafa', 'M' ,6000, 'IT'),\
          (3, 'asi', 'F' ,2500, 'Payroll'),\
          (4, 'sarfaraj','M' ,4000, 'HR'),\
          (5, 'pyarijaan', 'F' ,2000, 'HR'),\
          (6, 'Mahaboob', 'M' ,2000, 'Payroll'),\
          (7, 'ayesha', 'F' ,3000, 'IT') ]
schema = ('id', 'name', 'gender', 'salary','dep')
df = spark.createDataFrame(data,schema)
df.show()
df.groupBy('dep').agg(count('*').alias('No_Of_Emp')\
                                ,min('salary').alias('Mimimum_Sal'),\
                                max('salary').alias('Maximum_Sal'),\
                                collect_list('name').alias('Emp_Names'),\
                                first('name').alias('first_value'),\
                                last('name').alias('last_value')).show(truncate = False)
df.groupBy('dep').pivot('gender').agg(sum('salary')).show()
df.groupBy('dep').pivot('gender').agg(sum('salary'),max('salary')).show()

+---+---------+------+------+-------+
| id|     name|gender|salary|    dep|
+---+---------+------+------+-------+
|  1|   maheer|     M|  5000|     IT|
|  2|     wafa|     M|  6000|     IT|
|  3|      asi|     F|  2500|Payroll|
|  4| sarfaraj|     M|  4000|     HR|
|  5|pyarijaan|     F|  2000|     HR|
|  6| Mahaboob|     M|  2000|Payroll|
|  7|   ayesha|     F|  3000|     IT|
+---+---------+------+------+-------+

+-------+---------+-----------+-----------+----------------------+-----------+----------+
|dep    |No_Of_Emp|Mimimum_Sal|Maximum_Sal|Emp_Names             |first_value|last_value|
+-------+---------+-----------+-----------+----------------------+-----------+----------+
|IT     |3        |3000       |6000       |[maheer, wafa, ayesha]|maheer     |ayesha    |
|Payroll|2        |2000       |2500       |[asi, Mahaboob]       |asi        |Mahaboob  |
|HR     |2        |2000       |4000       |[sarfaraj, pyarijaan] |sarfaraj   |pyarijaan |
+-------+---------+-----------+-----------+----------------------+-----------+----------+

+-------+----+-----+
|    dep|   F|    M|
+-------+----+-----+
|     HR|2000| 4000|
|Payroll|2500| 2000|
|     IT|3000|11000|
+-------+----+-----+

+-------+-------------+-------------+-------------+-------------+
|    dep|F_sum(salary)|F_max(salary)|M_sum(salary)|M_max(salary)|
+-------+-------------+-------------+-------------+-------------+
|     HR|         2000|         2000|         4000|         4000|
|Payroll|         2500|         2500|         2000|         2000|
|     IT|         3000|         3000|        11000|         6000|
+-------+-------------+-------------+-------------+-------------+

##Now u will know about the `unionByName()`

In [0]:
#The unionByName() function is used to merge two dataFrames where there schema's are different! by passing allowMissingColumns() value as "True"
data = [(1,'vinay','M',50000,'HR'),(2,'kumar','M',43000,'Marketing'),(4,'vijaya','F',97000,'Testing')]
sch = ['Id','Name','Gender','Salary','Departments']
df_1 = spark.createDataFrame(data,sch)
df_1.show()
data = [(3,'kavya','F','DevOps'),(4,'vijaya','F','Testing'),(5,'supna','F','HR')]
sch = ['Id','Name','Gender','Departments']
df_2 = spark.createDataFrame(data,sch)
df_2.show()


# df_1.unionByName(df_2).show() #If u do this it will show the error ! like this {" Cannot resolve column name "Salary" among (Id, Name, Gender, Departments). "}
df_1.unionByName(df_2,allowMissingColumns=True).show()

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  1| vinay|     M| 50000|         HR|
|  2| kumar|     M| 43000|  Marketing|
|  4|vijaya|     F| 97000|    Testing|
+---+------+------+------+-----------+

+---+------+------+-----------+
| Id|  Name|Gender|Departments|
+---+------+------+-----------+
|  3| kavya|     F|     DevOps|
|  4|vijaya|     F|    Testing|
|  5| supna|     F|         HR|
+---+------+------+-----------+

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  1| vinay|     M| 50000|         HR|
|  2| kumar|     M| 43000|  Marketing|
|  4|vijaya|     F| 97000|    Testing|
|  3| kavya|     F|  null|     DevOps|
|  4|vijaya|     F|  null|    Testing|
|  5| supna|     F|  null|         HR|
+---+------+------+------+-----------+

##üç•Now we will know the use of `select()` function in pyspark !

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
data = [(1,'vinay','M',50000),(2,'kumar','M',43000),(3,'vinay','F',69000),(4,'vijaya','F',97000),(3,'kavya','F',67000)]
sch = ['Id','Name','Gender','Salary']

df = spark.createDataFrame(data,sch)
df.show()
df.printSchema()
df = df.withColumn('Id',col('Id').cast('Int')).withColumn('Salary',col('Salary').cast('Long'))#Used to cange the datatype !
df.select([i for i in df.columns]).show()
df.select('*').show()

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| vinay|     M| 50000|
|  2| kumar|     M| 43000|
|  3| vinay|     F| 69000|
|  4|vijaya|     F| 97000|
|  3| kavya|     F| 67000|
+---+------+------+------+

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: long (nullable = true)

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| vinay|     M| 50000|
|  2| kumar|     M| 43000|
|  3| vinay|     F| 69000|
|  4|vijaya|     F| 97000|
|  3| kavya|     F| 67000|
+---+------+------+------+

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| vinay|     M| 50000|
|  2| kumar|     M| 43000|
|  3| vinay|     F| 69000|
|  4|vijaya|     F| 97000|
|  3| kavya|     F| 67000|
+---+------+------+------+

##ü•êNow we use `join` in the pyspark !

In [0]:
datal = [(1, 'maheer' ,2008,2),(2, 'wafa' ,3000,1),(3, 'abcd' ,1000,4)]
schemal = ['Id', 'name', 'salary','dep']
data2 = [(1,'IT'), (2, 'HR'),(3, 'Payroll')]
schema2 = ['Id', 'name']
df_1 = spark.createDataFrame (datal, schemal)
df_2 = spark.createDataFrame (data2, schema2)
df_1.show()
df_2.show()


#Now we will use join's !
df_1.join(df_2,df_1.dep == df_2.Id,'Inner').show()#This is the inner join that we can see the matching rows of data in the both the #tables !
df_1.join(df_2,df_1.dep == df_2.Id,'Left').show()#In this the df_1 is the left table and the df_2 is the right and we are using the 
#Left_join so the we will get all the data from the left table and matching data from the right and remaining it will take as null's!
df_1.join(df_2,df_1.dep==df_2.Id,'Right').show()#This a right join !
df_1.join(df_2,df_1.dep==df_2.Id,'Full').show()#This is a full join or you can say it is a combinaction on right and left join's!


df_1.join(df_2,df_1.dep == df_2.Id,'Leftsemi').show()#The 'Leftsemi' is just like inner it will only shown the connected data rows
#But the difference is that in leftsemi it will only the matching left table only ! in the output !

df_1.join(df_2,df_1.dep == df_2.Id,'leftanti').show()#This is a the opposite to the leftsemi it will show the non matched rows of #the left table !
#And there are no rightsemi or rightanti !

df_1.alias('Emp_Id').join(df_1.alias('Mag_Id'),col('Emp_Id.Id') == col('Mag_Id.dep'),'inner').show()
#Basically the self is not there in the pyspark but we can implement it in the above way !

+---+------+------+---+
| Id|  name|salary|dep|
+---+------+------+---+
|  1|maheer|  2008|  2|
|  2|  wafa|  3000|  1|
|  3|  abcd|  1000|  4|
+---+------+------+---+

+---+-------+
| Id|   name|
+---+-------+
|  1|     IT|
|  2|     HR|
|  3|Payroll|
+---+-------+

+---+------+------+---+---+----+
| Id|  name|salary|dep| Id|name|
+---+------+------+---+---+----+
|  2|  wafa|  3000|  1|  1|  IT|
|  1|maheer|  2008|  2|  2|  HR|
+---+------+------+---+---+----+

+---+------+------+---+----+----+
| Id|  name|salary|dep|  Id|name|
+---+------+------+---+----+----+
|  1|maheer|  2008|  2|   2|  HR|
|  2|  wafa|  3000|  1|   1|  IT|
|  3|  abcd|  1000|  4|null|null|
+---+------+------+---+----+----+

+----+------+------+----+---+-------+
|  Id|  name|salary| dep| Id|   name|
+----+------+------+----+---+-------+
|   2|  wafa|  3000|   1|  1|     IT|
|   1|maheer|  2008|   2|  2|     HR|
|null|  null|  null|null|  3|Payroll|
+----+------+------+----+---+-------+

+----+------+------+----+----+-------+
|  Id|  name|salary| dep|  Id|   name|
+----+------+------+----+----+-------+
|   2|  wafa|  3000|   1|   1|     IT|
|   1|maheer|  2008|   2|   2|     HR|
|null|  null|  null|null|   3|Payroll|
|   3|  abcd|  1000|   4|null|   null|
+----+------+------+----+----+-------+

+---+------+------+---+
| Id|  name|salary|dep|
+---+------+------+---+
|  2|  wafa|  3000|  1|
|  1|maheer|  2008|  2|
+---+------+------+---+

+---+----+------+---+
| Id|name|salary|dep|
+---+----+------+---+
|  3|abcd|  1000|  4|
+---+----+------+---+

+---+------+------+---+---+------+------+---+
| Id|  name|salary|dep| Id|  name|salary|dep|
+---+------+------+---+---+------+------+---+
|  1|maheer|  2008|  2|  2|  wafa|  3000|  1|
|  2|  wafa|  3000|  1|  1|maheer|  2008|  2|
+---+------+------+---+---+------+------+---+

##ü•§In this we will try to `unpivot` the dataframe that has been pivoted !

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
#We know that what is pivot() and we have used this with the groupBy() !
data = [('IT',5,7),('HR',3,7),('Marketing',7,11)]
sch = ['DEP','MALE','FEMALE']
df = spark.createDataFrame(data,sch)
df = df.withColumn('MALE',col('MALE').cast('String')).withColumn('FEMALE',col('FEMALE').cast('String'))
df.show()
df.printSchema()
#Now i will try to change the dataframe to unpivot dataframe !
up_df = df.select('DEP',expr("stack(2,'M',MALE,'F',FEMALE)as(GENDERS,COUNT)"))
up_df.printSchema()
up_df.show()#This is the unpivoted dataframe 
#In this i had to change the dattype of the mail and female 
#And also in this i have used the expr() that i sused to perform a spark function that is given in a full string ! and 2 is the 
#no of arguments and the 'M' is the data and MALE this is the column !

+---------+----+------+
|      DEP|MALE|FEMALE|
+---------+----+------+
|       IT|   5|     7|
|       HR|   3|     7|
|Marketing|   7|    11|
+---------+----+------+

root
 |-- DEP: string (nullable = true)
 |-- MALE: string (nullable = true)
 |-- FEMALE: string (nullable = true)

root
 |-- DEP: string (nullable = true)
 |-- GENDERS: string (nullable = true)
 |-- COUNT: string (nullable = true)

+---------+-------+-----+
|      DEP|GENDERS|COUNT|
+---------+-------+-----+
|       IT|      M|    5|
|       IT|      F|    7|
|       HR|      M|    3|
|       HR|      F|    7|
|Marketing|      M|    7|
|Marketing|      F|   11|
+---------+-------+-----+

##üåµNow we will use `fill()` and `fillna()` in the pyspark !

In [0]:
#This fill() and fillna() is used to replace NULL/NONE values on all selected multiple
#Dataframe columns with either zero(0), empty
#String, space or any constant literal values !
data = [(1,'vinay','M',50000,None),(2,'kumar','M',None,'Marketing'),(4,'vijaya',None,97000,'Testing')]
sch = ['Id','Name','Gender','Salary','Departments']
df_1 = spark.createDataFrame(data,sch)
df_1.show()

df_1.fillna('UNKNOWN').show()#This will make all the null values into 'UNKNOWN'#But it will remove the null value for string datatype columns only !
df_1.fillna('00000',['Gender']).show()#This will only make the given column null values into '0000'
df_1.fillna(0).show()#This will remove the null values from the Integer datatype columns !

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  1| vinay|     M| 50000|       null|
|  2| kumar|     M|  null|  Marketing|
|  4|vijaya|  null| 97000|    Testing|
+---+------+------+------+-----------+

+---+------+-------+------+-----------+
| Id|  Name| Gender|Salary|Departments|
+---+------+-------+------+-----------+
|  1| vinay|      M| 50000|    UNKNOWN|
|  2| kumar|      M|  null|  Marketing|
|  4|vijaya|UNKNOWN| 97000|    Testing|
+---+------+-------+------+-----------+

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  1| vinay|     M| 50000|       null|
|  2| kumar|     M|  null|  Marketing|
|  4|vijaya| 00000| 97000|    Testing|
+---+------+------+------+-----------+

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  1| vinay|     M| 50000|       null|
|  2| kumar|     M|     0|  Marketing|
|  4|vijaya|  null| 97000|    Testing|
+---+------+------+------+-----------+

##üõ∞Ô∏èNow we will use `sample()` in pyspark !

In [0]:
#This sample() function is useed when there is a large dataset aand u want to use a fraction of data in that large dataframe !
#And in thsi it will get the data row's randomle from the dataframe !


#Now lets use a large dataset i mean a .csv file !
df = spark.read.csv('dbfs:/FileStore/StudentData.csv',header = True,inferSchema=True)#This dataset contains 1000 lines of data 
print(df.count())

#Now we will make a two different data sets from the df!
df_1 = df.sample(fraction = 0.1)#In this '0.1' means the 10% of the total dataset and the row data is also random too !
df_1.show(truncate = False)#This kind of function is mostly used in the spark Mlib !
df_2 = df.sample(fraction = 0.1)
df_2.show(truncate = False)
#We can see that those two data that are in the df_1 and df_2 is so randome every time i run that data in that will change 
#If u want to get a same data in both the dataframes every time then we can use somthing called as seed value !
#if you give the seed value as same to the both dataframes then we will get the same data in those dataframes every time~

df_3 = df.sample(fraction = 0.2,seed = 234)
df_3.show(truncate = False)
df_4 = df.sample(fraction = 0.2,seed = 234)
df_4.show(truncate = False)

#Now you can see every time i run the code i will get the same data in the df_3 and df_4 !

1000
+---+------+-----------------+------+-------+-----+-----------------------------------------+
|age|gender|name             |course|roll   |marks|email                                    |
+---+------+-----------------+------+-------+-----+-----------------------------------------+
|29 |Female|Jenna Montague   |MVC   |502585 |43   |Hubert Oliveras_Jc Andrepont@DSA.com     |
|28 |Female|Somer Stoecker   |Cloud |612490 |82   |Sebrina Maresca_Gonzalo Ferebee@DSA.com  |
|28 |Male  |Mitzi Seldon     |DSA   |622981 |45   |Lawanda Wohlwend_Loris Crossett@DSA.com  |
|28 |Female|Sheryll Towler   |DSA   |871967 |64   |Michelle Ruggiero_Billi Clore@Cloud.com  |
|29 |Male  |Clementina Menke |DB    |882200 |76   |Michelle Ruggiero_Jenna Montague@MVC.com |
|29 |Male  |Naoma Fritts     |DB    |931295 |79   |Hubert Oliveras_Sheryll Towler@DSA.com   |
|29 |Female|Eda Neathery     |Cloud |1011971|91   |Margene Moores_Elenore Choy@MVC.com      |
|29 |Female|Hubert Oliveras  |DSA   |1041483|28   |Billi Clore_Santa Kerfien@DSA.com        |
|29 |Male  |Donna Yerby      |DSA   |1092702|79   |Marylee Capasso_Alberta Freund@OOP.com   |
|29 |Female|Abram Nagao      |DSA   |1181007|57   |Anna Santos_Anna Santos@DSA.com          |
|28 |Male  |Nicole Harwood   |DB    |1211495|28   |Melani Engberg_Jc Andrepont@Cloud.com    |
|28 |Male  |Paris Hutton     |MVC   |1292279|26   |Paris Hutton_Eda Neathery@DSA.com        |
|28 |Female|Nicole Harwood   |PF    |1441367|95   |Jc Andrepont_Anna Santos@DSA.com         |
|28 |Female|Cordie Harnois   |MVC   |1501333|94   |Gonzalo Ferebee_Tijuana Kropf@OOP.com    |
|29 |Female|Taryn Brownlee   |OOP   |1511213|72   |Cheri Kenney_Donna Yerby@DSA.com         |
|29 |Female|Annika Hoffman   |OOP   |1551846|50   |Paris Hutton_Melani Engberg@DB.com       |
|29 |Female|Michelle Ruggiero|DB    |1642509|45   |Hubert Oliveras_Marylee Capasso@DB.com   |
|28 |Female|Neda Briski      |Cloud |1651303|74   |Ernest Rossbach_Donna Yerby@OOP.com      |
|29 |Female|Jc Andrepont     |MVC   |1731652|74   |Hubert Oliveras_Michelle Ruggiero@DSA.com|
|28 |Female|Melani Engberg   |Cloud |1872667|99   |Alberta Freund_Nicole Harwood@DB.com     |
+---+------+-----------------+------+-------+-----+-----------------------------------------+
only showing top 20 rows

+---+------+------------------+------+-------+-----+-----------------------------------------+
|age|gender|name              |course|roll   |marks|email                                    |
+---+------+------------------+------+-------+-----+-----------------------------------------+
|28 |Female|Claude Panos      |Cloud |72409  |85   |Sheryll Towler_Alberta Freund@Cloud.com  |
|28 |Female|Mickey Cortright  |DB    |192537 |62   |Ernest Rossbach_Marylee Capasso@Cloud.com|
|28 |Female|Alberta Freund    |OOP   |251805 |83   |Annika Hoffman_Sheryll Towler@MVC.com    |
|29 |Female|Paris Hutton      |DSA   |271472 |99   |Sheryll Towler_Alberta Freund@DSA.com    |
|29 |Female|Cheri Kenney      |Cloud |281408 |43   |Annika Hoffman_Melani Engberg@Cloud.com  |
|29 |Female|Claude Panos      |OOP   |542821 |28   |Hubert Oliveras_Priscila Tavernier@PF.com|
|28 |Male  |Priscila Tavernier|PF    |642594 |27   |Marylee Capasso_Claude Panos@DSA.com     |
|28 |Female|Celeste Lollis    |DSA   |731879 |76   |Hubert Oliveras_Gonzalo Ferebee@DSA.com  |
|28 |Female|Hubert Oliveras   |DB    |771081 |79   |Kizzy Brenner_Dustin Feagins@MVC.com     |
|28 |Female|Santa Kerfien     |Cloud |851620 |34   |Melani Engberg_Sheryll Towler@PF.com     |
|29 |Female|Taryn Brownlee    |MVC   |861849 |39   |Billi Clore_Toshiko Hillyard@MVC.com     |
|29 |Female|Mickey Cortright  |Cloud |1421542|71   |Latia Vanhoose_Kena Wild@OOP.com         |
|29 |Female|Jeannetta Golden  |PF    |1581770|39   |Bonita Higuera_Santa Kerfien@OOP.com     |
|29 |Male  |Celeste Lollis    |PF    |1861656|67   |Niki Klimek_Lawanda Wohlwend@DB.com      |
|28 |Female|Melani Engberg    |Cloud |1872667|99   |Alberta Freund_Nicole Harwood@DB.com     |
|28 |Female|Anna Santos       |PF    |1911870|92   |Sebrina Maresca_Clementina Menke@OOP.com |
|28 |Female|Cheri Kenney      |Cloud |2281771|22   |Tamera Blakley_Abram Nagao@OOP.com       |
|29 |Female|Bonita Higuera    |DSA   |2312783|77   |Melani Engberg_Mitzi Seldon@DSA.com      |
|29 |Male  |Somer Stoecker    |PF    |2721652|36   |Tijuana Kropf_Michelle Ruggiero@Cloud.com|
|28 |Male  |Loris Crossett    |OOP   |2852490|25   |Loris Crossett_Donna Yerby@DSA.com       |
+---+------+------------------+------+-------+-----+-----------------------------------------+
only showing top 20 rows

+---+------+------------------+------+------+-----+-----------------------------------------+
|age|gender|name              |course|roll  |marks|email                                    |
+---+------+------------------+------+------+-----+-----------------------------------------+
|28 |Male  |Celeste Lollis    |PF    |21267 |45   |Jeannetta Golden_Jenna Montague@DSA.com  |
|28 |Female|Latia Vanhoose    |DB    |122502|27   |Latia Vanhoose_Mitzi Seldon@OOP.com      |
|29 |Female|Latia Vanhoose    |MVC   |132110|55   |Eda Neathery_Nicole Harwood@Cloud.com    |
|29 |Female|Latia Vanhoose    |DB    |152159|27   |Claude Panos_Santa Kerfien@DB.com        |
|29 |Male  |Annika Hoffman    |OOP   |171660|22   |Taryn Brownlee_Mitzi Seldon@MVC.com      |
|29 |Female|Anna Santos       |Cloud |242254|68   |Jc Andrepont_Hubert Oliveras@Cloud.com   |
|28 |Female|Maybell Duguay    |Cloud |261439|20   |Nicole Harwood_Judie Chipps@DB.com       |
|29 |Female|Claude Panos      |Cloud |302130|59   |Sheryll Towler_Leontine Phillips@PF.com  |
|28 |Female|Mickey Cortright  |DSA   |342003|44   |Mitzi Seldon_Jeannetta Golden@PF.com     |
|28 |Male  |Hubert Oliveras   |OOP   |351719|63   |Lawanda Wohlwend_Abram Nagao@MVC.com     |
|28 |Male  |Sebrina Maresca   |PF    |361316|62   |Nicole Harwood_Latia Vanhoose@DB.com     |
|29 |Female|Jenna Montague    |MVC   |502585|43   |Hubert Oliveras_Jc Andrepont@DSA.com     |
|29 |Male  |Celeste Lollis    |DSA   |562065|85   |Jc Andrepont_Melani Engberg@OOP.com      |
|28 |Male  |Marylee Capasso   |OOP   |581756|52   |Jeannetta Golden_Loris Crossett@MVC.com  |
|28 |Male  |Priscila Tavernier|PF    |642594|27   |Marylee Capasso_Claude Panos@DSA.com     |
|28 |Female|Jenna Montague    |DSA   |691564|26   |Mitzi Seldon_Sebrina Maresca@Cloud.com   |
|29 |Male  |Maybell Duguay    |PF    |701486|99   |Clementina Menke_Latia Vanhoose@Cloud.com|
|29 |Male  |Jenna Montague    |MVC   |711153|45   |Marylee Capasso_Hubert Oliveras@DB.com   |
|28 |Female|Hubert Oliveras   |DB    |771081|79   |Kizzy Brenner_Dustin Feagins@MVC.com     |
|28 |Female|Santa Kerfien     |Cloud |851620|34   |Melani Engberg_Sheryll Towler@PF.com     |
+---+------+------------------+------+------+-----+-----------------------------------------+
only showing top 20 rows

+---+------+------------------+------+------+-----+-----------------------------------------+
|age|gender|name              |course|roll  |marks|email                                    |
+---+------+------------------+------+------+-----+-----------------------------------------+
|28 |Male  |Celeste Lollis    |PF    |21267 |45   |Jeannetta Golden_Jenna Montague@DSA.com  |
|28 |Female|Latia Vanhoose    |DB    |122502|27   |Latia Vanhoose_Mitzi Seldon@OOP.com      |
|29 |Female|Latia Vanhoose    |MVC   |132110|55   |Eda Neathery_Nicole Harwood@Cloud.com    |
|29 |Female|Latia Vanhoose    |DB    |152159|27   |Claude Panos_Santa Kerfien@DB.com        |
|29 |Male  |Annika Hoffman    |OOP   |171660|22   |Taryn Brownlee_Mitzi Seldon@MVC.com      |
|29 |Female|Anna Santos       |Cloud |242254|68   |Jc Andrepont_Hubert Oliveras@Cloud.com   |
|28 |Female|Maybell Duguay    |Cloud |261439|20   |Nicole Harwood_Judie Chipps@DB.com       |
|29 |Female|Claude Panos      |Cloud |302130|59   |Sheryll Towler_Leontine Phillips@PF.com  |
|28 |Female|Mickey Cortright  |DSA   |342003|44   |Mitzi Seldon_Jeannetta Golden@PF.com     |
|28 |Male  |Hubert Oliveras   |OOP   |351719|63   |Lawanda Wohlwend_Abram Nagao@MVC.com     |
|28 |Male  |Sebrina Maresca   |PF    |361316|62   |Nicole Harwood_Latia Vanhoose@DB.com     |
|29 |Female|Jenna Montague    |MVC   |502585|43   |Hubert Oliveras_Jc Andrepont@DSA.com     |
|29 |Male  |Celeste Lollis    |DSA   |562065|85   |Jc Andrepont_Melani Engberg@OOP.com      |
|28 |Male  |Marylee Capasso   |OOP   |581756|52   |Jeannetta Golden_Loris Crossett@MVC.com  |
|28 |Male  |Priscila Tavernier|PF    |642594|27   |Marylee Capasso_Claude Panos@DSA.com     |
|28 |Female|Jenna Montague    |DSA   |691564|26   |Mitzi Seldon_Sebrina Maresca@Cloud.com   |
|29 |Male  |Maybell Duguay    |PF    |701486|99   |Clementina Menke_Latia Vanhoose@Cloud.com|
|29 |Male  |Jenna Montague    |MVC   |711153|45   |Marylee Capasso_Hubert Oliveras@DB.com   |
|28 |Female|Hubert Oliveras   |DB    |771081|79   |Kizzy Brenner_Dustin Feagins@MVC.com     |
|28 |Female|Santa Kerfien     |Cloud |851620|34   |Melani Engberg_Sheryll Towler@PF.com     |
+---+------+------------------+------+------+-----+-----------------------------------------+
only showing top 20 rows

##üõµNow we use the `collect()` in pyspark !

In [0]:
#The collect() retrieves all the elements in a dataframe as an array of row type to the driver node.
#It will return a data in array 
#This can only be used in the case of the small dataframes because in the matter of large dataframes to the node the it is complecated !

data = [(1,'vinay','M',50000,None),(2,'kumar','M',None,'Marketing'),(4,'vijaya',None,97000,'Testing')]
sch = ['Id','Name','Gender','Salary','Departments']
df_1 = spark.createDataFrame(data,sch)
df_1 = df_1.withColumn('Id',col('Id').cast('Int')).withColumn('Salary',col('Salary').cast('Int'))
df_1.show()
df_1.printSchema()

df_2 = df_1.collect()
print(df_2)
print(df_2[0].Name)
print(df_2[1])
print(df_2[1][1])
print(df_2[1].Name)
#This is how we het to use the .collect() function !

+---+------+------+------+-----------+
| Id|  Name|Gender|Salary|Departments|
+---+------+------+------+-----------+
|  1| vinay|     M| 50000|       null|
|  2| kumar|     M|  null|  Marketing|
|  4|vijaya|  null| 97000|    Testing|
+---+------+------+------+-----------+

root
 |-- Id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Departments: string (nullable = true)

[Row(Id=1, Name='vinay', Gender='M', Salary=50000, Departments=None), Row(Id=2, Name='kumar', Gender='M', Salary=None, Departments='Marketing'), Row(Id=4, Name='vijaya', Gender=None, Salary=97000, Departments='Testing')]
vinay
Row(Id=2, Name='kumar', Gender='M', Salary=None, Departments='Marketing')
kumar
kumar

##üõ∫Now we know the `.transform()` function in pyspark !

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

#Now we are using the .transform() function on the df data_frame !
data = [(1,'vinay','M',50000),(2,'kumar','M',43000),(3,'vinay','F',69000),(4,'vijaya','F',97000),(3,'kavya','F',67000)]
sch = ['Id','Name','Gender','Salary']
df = spark.createDataFrame(data,sch)
df.show()
df.withColumn('Name',upper('Name')).show()#This is a transformation that we are using on the dataframe but it is a perdefined
#Transformation so ... If i need to build a my custom transformation inn python and use that transformation on the dataframe 
#This can be done by using the .transform() function !

def jj(df):
    return df.withColumn('Gender',when(df.Gender == 'M','Male').otherwise('Female')).dropDuplicates(['Name']).orderBy('Id')
df_1 = df.transform(jj)
df_1.show()
#This is a python function and i am using this function how many time i want to and to use this function wee need to use the 
#.transform() function and make use of this function !

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| vinay|     M| 50000|
|  2| kumar|     M| 43000|
|  3| vinay|     F| 69000|
|  4|vijaya|     F| 97000|
|  3| kavya|     F| 67000|
+---+------+------+------+

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| VINAY|     M| 50000|
|  2| KUMAR|     M| 43000|
|  3| VINAY|     F| 69000|
|  4|VIJAYA|     F| 97000|
|  3| KAVYA|     F| 67000|
+---+------+------+------+

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| vinay|  Male| 50000|
|  2| kumar|  Male| 43000|
|  3| kavya|Female| 67000|
|  4|vijaya|Female| 97000|
+---+------+------+------+

##üõ©Ô∏èNow we know the differencte between `.transform()` function on dataFrames and `pyspark.sql.functions.transform()`

In [0]:
# The 'pyspark.sql.functions.transform()' is is used to apply the transform on a column of Array-Type
# This function applies to specific transformation on every element of the array and returns an object of ArrayType !
from pyspark.sql.functions import *
from pyspark.sql.types import *
data = [(1,'vinay',['Hr','DeOps','Frontend']),(2,'kumar',['marketing','DeOps','sales']),(3,'vinay',['Tester','fullstack','Backend']),(4,'vijaya',['Hr','cybersecurity','tester']),(3,'kavya',['marketing','cloud','advertise'])]
sch = ['Id','Name','Expertices']
df = spark.createDataFrame(data,sch)
df.show(truncate = False)
df.printSchema()

df.select('Id','Name',transform('Expertices',lambda x: upper(x)).alias('Expertices')).show(truncate = False)
def ooo(x):
    if x not in  'DeOps':
        return upper(x)
    else:
        return 'DevOps'

df_1 = df.select('Id','Name',transform('Expertices',ooo).alias('Exp'))


# df_1 = df.withColumn('Expertices', expr("transform(Expertices, x -> IF(x = 'DeOps', 'DevOps', x))"))
df_1.show()


#Need to learn somthing more ~~~~~~

+---+------+-----------------------------+
|Id |Name  |Expertices                   |
+---+------+-----------------------------+
|1  |vinay |[Hr, DeOps, Frontend]        |
|2  |kumar |[marketing, DeOps, sales]    |
|3  |vinay |[Tester, fullstack, Backend] |
|4  |vijaya|[Hr, cybersecurity, tester]  |
|3  |kavya |[marketing, cloud, advertise]|
+---+------+-----------------------------+

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Expertices: array (nullable = true)
 |    |-- element: string (containsNull = true)

+---+------+-----------------------------+
|Id |Name  |Expertices                   |
+---+------+-----------------------------+
|1  |vinay |[HR, DEOPS, FRONTEND]        |
|2  |kumar |[MARKETING, DEOPS, SALES]    |
|3  |vinay |[TESTER, FULLSTACK, BACKEND] |
|4  |vijaya|[HR, CYBERSECURITY, TESTER]  |
|3  |kavya |[MARKETING, CLOUD, ADVERTISE]|
+---+------+-----------------------------+

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-4291357246911695>:18
     15     else:
     16         return 'DevOps'
---> 18 df_1 = df.select('Id','Name',transform('Expertices',ooo).alias('Exp'))
     21 # df_1 = df.withColumn('Expertices', expr("transform(Expertices, x -> IF(x = 'DeOps', 'DevOps', x))"))
     22 df_1.show()

File /databricks/spark/python/pyspark/sql/utils.py:164, in try_remote_functions.<locals>.wrapped(*args, **kwargs)
    162     return getattr(functions, f.__name__)(*args, **kwargs)
    163 else:
--> 164     return f(*args, **kwargs)

File /databricks/spark/python/pyspark/sql/functions.py:9186, in transform(col, f)
   9132 @try_remote_functions
   9133 def transform(
   9134     col: "ColumnOrName",
   9135     f: Union[Callable[[Column], Column], Callable[[Column, Column], Column]],
   9136 ) -> Column:
   9137     """
   9138     Returns an array of elements after applying a transformation to each element in the input array.
   9139
   (...)
   9184     +--------------+
   9185     """
-> 9186     return _invoke_higher_order_function("ArrayTransform", [col], [f])

File /databricks/spark/python/pyspark/sql/functions.py:9117, in _invoke_higher_order_function(name, cols, funs)
   9114 expr = getattr(expressions, name)
   9116 jcols = [_to_java_column(col).expr() for col in cols]
-> 9117 jfuns = [_create_lambda(f) for f in funs]
   9119 return Column(sc._jvm.Column(expr(*jcols + jfuns)))

File /databricks/spark/python/pyspark/sql/functions.py:9117, in <listcomp>(.0)
   9114 expr = getattr(expressions, name)
   9116 jcols = [_to_java_column(col).expr() for col in cols]
-> 9117 jfuns = [_create_lambda(f) for f in funs]
   9119 return Column(sc._jvm.Column(expr(*jcols + jfuns)))

File /databricks/spark/python/pyspark/sql/functions.py:9081, in _create_lambda(f)
   9073 argnames = ["x", "y", "z"]
   9074 args = [
   9075     _unresolved_named_lambda_variable(
   9076         expressions.UnresolvedNamedLambdaVariable.freshVarName(arg)
   9077     )
   9078     for arg in argnames[: len(parameters)]
   9079 ]
-> 9081 result = f(*args)
   9083 if not isinstance(result, Column):
   9084     raise PySparkValueError(
   9085         error_class="HIGHER_ORDER_FUNCTION_SHOULD_RETURN_COLUMN",
   9086         message_parameters={"func_name": f.__name__, "return_type": type(result).__name__},
   9087     )

File <command-4291357246911695>:13, in ooo(x)
     12 def ooo(x):
---> 13     if x not in  'DeOps':
     14         return upper(x)
     15     else:

TypeError: 'in <string>' requires string as left operand, not Column

##ü™êNow we will use `createOrReplaceTempView()` function in pyspark !

In [0]:

#it will create a temporary view (Like a table ! to perform sql on that view !) on dataframe using this function!
from pyspark.sql.functions import *
from pyspark.sql.types import *
data = [(1,'vinay','M',50000),(2,'kumar','M',43000),(3,'vinay','F',69000),(4,'vijaya','F',97000),(3,'kavya','F',67000)]
sch = ['Id','Name','Gender','Salary']
df = spark.createDataFrame(data,sch)
df.show()
df.createOrReplaceTempView('data')
df_1 = spark.sql("SELECT DISTINCT(Name) FROM data")
df_1.show()
#This is how we can use the `SQl` syntax on the created view !

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1| vinay|     M| 50000|
|  2| kumar|     M| 43000|
|  3| vinay|     F| 69000|
|  4|vijaya|     F| 97000|
|  3| kavya|     F| 67000|
+---+------+------+------+

+------+
|  Name|
+------+
| vinay|
| kumar|
|vijaya|
| kavya|
+------+

##üßÉNow we will use `createOrReplaceGlobleTempView()` function in pyspark !

In [0]:


# The difference between this two  is that the createOrReplacetempView() function will create a view where we can perform the sql
# Operation on that view or a table but we can only access that view in that session only !

# But when it comes to the createOrReplaceGlobaltempView() function is used to create a view or a table of a dataframe and 
# where we can access that view in different sessions or in Notebooks !

# All the created views will be in the 'global_temp' name space and we need to use this namespace while using that view !

# Now we will create a Global view and to access that view and perform the operations on that !
data = [(1,'vinay',['Hr','DeOps','Frontend']),(2,'kumar',['marketing','DeOps','sales']),(3,'vinay',['Tester','fullstack','Backend']),(4,'vijaya',['Hr','cybersecurity','tester']),(3,'kavya',['marketing','cloud','advertise'])]
sch = ['Id','Name','Expertices']
df = spark.createDataFrame(data,sch)

df.createOrReplaceGlobalTempView('man')

df_1 = spark.sql('SELECT  upper(Expertices[0])  as Domain FROM global_temp.man')# For this we will get the error if name_space is not used !
df_1.show(truncate = False)
# Now we can access this view in other session or in other notebook also !

# If u need to view all the globale views then use 
spark.catalog.listTables('global_temp')

# If u need to view all the local views then use 
spark.catalog.listTables('default')

# If u every want to drop the views that u have created either it is local or a global view we can use 
# -------------> spark.catalog.dropTempView(<Local_view_name>)
# -------------> spark.catalog.dropGlobalTempView(<Global_view_name)

+---------+
|Domain   |
+---------+
|HR       |
|MARKETING|
|TESTER   |
|HR       |
|MARKETING|
+---------+

Out[102]: [Table(name='data', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='zoro', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

##ü•°Now we will use `udf()` function in pyspark

In [0]:
# The udf() is nothing but the user_defined_functions() this are used to create a python logic in a function and use that function
# on the dataframe or a column for the tranformation !



data = [(1,'vinay',['Hr','DeOps','Frontend']),(2,'kumar',['marketing','DeOps','sales']),(3,'vinay',['Tester','fullstack','Backend']),(4,'vijaya',['Hr','cybersecurity','tester']),(3,'kavya',['marketing','cloud','advertise'])]
sch = ['Id','Name','Expertices']
df = spark.createDataFrame(data,sch)
df.show(truncate = False)


def kio(x):
    k1 =[]
    for i in x:
        if i == 'DeOps':
            k1.append('DevOps')
        else:
            k1.append(i.capitalize())
    return k1

kl=udf(kio,ArrayType(StringType()))
df_1 = df.withColumn('Expertices',kl(col('Expertices')))
df_1.show(truncate = False)
# This is how you can create a transformation on the column in the dataframe and create a function
# on the user defined transformation !

def hhhh(c):#This is an other udf function !
    return c.capitalize()
cap = udf(hhhh,StringType())
df_2 = df_1.withColumn('Name',cap(col('Name')))
df_2.show()

#lets create a 'bonus' named column !
df_3 = df_2.withColumn('Bonus',lit(45000))


#lets create a 'Salary' named column !
df_3 = df_3.withColumn('Salary',lit(96000))
df_3.show()

# Now we will create a function that will take the both the columns data and sum's up the data in that and place's that
# Data in a new column !

# Now we will see a new way to use this udf() function using the annotations !

# ----------------------------------------------IMP------------------------------------------------------------------

@udf(returnType = IntegerType())# This a annotation way where we no need to create a name and assine the udf() function !
def ghh(x,y):
    return x+y


df_4 = df_3.withColumn('Total_Sal',ghh(col('Bonus'),col('Salary')))
df_4.show(truncate = False)

+---+------+-----------------------------+
|Id |Name  |Expertices                   |
+---+------+-----------------------------+
|1  |vinay |[Hr, DeOps, Frontend]        |
|2  |kumar |[marketing, DeOps, sales]    |
|3  |vinay |[Tester, fullstack, Backend] |
|4  |vijaya|[Hr, cybersecurity, tester]  |
|3  |kavya |[marketing, cloud, advertise]|
+---+------+-----------------------------+

+---+------+-----------------------------+
|Id |Name  |Expertices                   |
+---+------+-----------------------------+
|1  |vinay |[Hr, DevOps, Frontend]       |
|2  |kumar |[Marketing, DevOps, Sales]   |
|3  |vinay |[Tester, Fullstack, Backend] |
|4  |vijaya|[Hr, Cybersecurity, Tester]  |
|3  |kavya |[Marketing, Cloud, Advertise]|
+---+------+-----------------------------+

+---+------+--------------------+
| Id|  Name|          Expertices|
+---+------+--------------------+
|  1| Vinay|[Hr, DevOps, Fron...|
|  2| Kumar|[Marketing, DevOp...|
|  3| Vinay|[Tester, Fullstac...|
|  4|Vijaya|[Hr, Cybersecurit...|
|  3| Kavya|[Marketing, Cloud...|
+---+------+--------------------+

+---+------+--------------------+-----+------+
| Id|  Name|          Expertices|Bonus|Salary|
+---+------+--------------------+-----+------+
|  1| Vinay|[Hr, DevOps, Fron...|45000| 96000|
|  2| Kumar|[Marketing, DevOp...|45000| 96000|
|  3| Vinay|[Tester, Fullstac...|45000| 96000|
|  4|Vijaya|[Hr, Cybersecurit...|45000| 96000|
|  3| Kavya|[Marketing, Cloud...|45000| 96000|
+---+------+--------------------+-----+------+

+---+------+-----------------------------+-----+------+---------+
|Id |Name  |Expertices                   |Bonus|Salary|Total_Sal|
+---+------+-----------------------------+-----+------+---------+
|1  |Vinay |[Hr, DevOps, Frontend]       |45000|96000 |141000   |
|2  |Kumar |[Marketing, DevOps, Sales]   |45000|96000 |141000   |
|3  |Vinay |[Tester, Fullstack, Backend] |45000|96000 |141000   |
|4  |Vijaya|[Hr, Cybersecurity, Tester]  |45000|96000 |141000   |
|3  |Kavya |[Marketing, Cloud, Advertise]|45000|96000 |141000   |
+---+------+-----------------------------+-----+------+---------+

## üôÇCan we use this kind of udf() in sql also !

In [0]:
# This peace of code is related to the upper_cell code !

# Let's create a function that takes a ArrayType and prints out the string of all the elements !

def qw(x):
    return ','.join(i.strip() for i in x)

# Now we have to register this function to be used in theh sql syntax !!!
spark.udf.register(name ='Exp_Rolls',f = qw,returnType=StringType())
# In this above register() part you will find three attributes 1) --> function name ( to use in SQL) 
# 2) --> f it is the actual function name that we have created !
# 3) --> returnType() this is like what type of dataType the return data from the function !

# Now to use this above created and registered function we need to create a temp_view of the dataFrame !
df_4.createOrReplaceTempView('dev_data')

df_5 = spark.sql('SELECT Id, Name,Exp_Rolls(Expertices) as EXP from dev_data')
df_5.show(truncate = False)
df_5.printSchema()

# This is how we can perform the udf function on the sql also !

+---+------+-------------------------+
|Id |Name  |EXP                      |
+---+------+-------------------------+
|1  |Vinay |Hr,DevOps,Frontend       |
|2  |Kumar |Marketing,DevOps,Sales   |
|3  |Vinay |Tester,Fullstack,Backend |
|4  |Vijaya|Hr,Cybersecurity,Tester  |
|3  |Kavya |Marketing,Cloud,Advertise|
+---+------+-------------------------+

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- EXP: string (nullable = true)

#  üòéFUN FACT
          That you can send a whole dataframe to a user_defined_function udf() and expect the whole data frame as an output from the udf() function
          while we are providing the dataframe we need to know the schema that datatype and we need to create a custom dataframe that we 
          we will get from the udf() function and we will give the schema name in the returnType = attribute !

##üç´Now we will see how we can convert an `rdd` object in the dataframe in pyspark !

In [0]:
# This the data 
data = [(1,'vinay',['Hr','DeOps','Frontend']),(2,'kumar',['marketing','DeOps','sales']),(3,'vinay',['Tester','fullstack','Backend']),(4,'vijaya',['Hr','cybersecurity','tester']),(3,'kavya',['marketing','cloud','advertise'])]

rdd = spark.sparkContext.parallelize(data) #The parallelize function will make a data into a rdd !
print(rdd.collect())# Now we are viewing the data in a list formate !


# Now we need to convert the rdd into the DataFrame !
df = rdd.toDF(['Id','Name','Expertices'])
df.show(truncate = False)
# Now we have created the dataframe from the rdd !
# we can use this function to make a dataframe from rdd

df_1 = spark.createDataFrame(rdd,['Id','Name','Expertices'])
df_1.show(truncate = False)

[(1, 'vinay', ['Hr', 'DeOps', 'Frontend']), (2, 'kumar', ['marketing', 'DeOps', 'sales']), (3, 'vinay', ['Tester', 'fullstack', 'Backend']), (4, 'vijaya', ['Hr', 'cybersecurity', 'tester']), (3, 'kavya', ['marketing', 'cloud', 'advertise'])]
+---+------+-----------------------------+
|Id |Name  |Expertices                   |
+---+------+-----------------------------+
|1  |vinay |[Hr, DeOps, Frontend]        |
|2  |kumar |[marketing, DeOps, sales]    |
|3  |vinay |[Tester, fullstack, Backend] |
|4  |vijaya|[Hr, cybersecurity, tester]  |
|3  |kavya |[marketing, cloud, advertise]|
+---+------+-----------------------------+

+---+------+-----------------------------+
|Id |Name  |Expertices                   |
+---+------+-----------------------------+
|1  |vinay |[Hr, DeOps, Frontend]        |
|2  |kumar |[marketing, DeOps, sales]    |
|3  |vinay |[Tester, fullstack, Backend] |
|4  |vijaya|[Hr, cybersecurity, tester]  |
|3  |kavya |[marketing, cloud, advertise]|
+---+------+-----------------------------+

##üé´Now we will use the `map()` transformation in pyspark !

In [0]:
# The Map() transformation used to apply function(lambda) on every element of RDD and return RDD
# NOTE:- The dataframe doesn't have map() transformation to use with dataframe you need to generate RDD first !

data = [('vinay','kumar'),('sai','raj'),('ajay','row')]
rdd = spark.sparkContext.parallelize(data)
print(rdd.collect())
rdd1 = rdd.map(lambda x : (x[0]+x[1],))# now it is tuple because of (,) at the end with out that it would have become a list !
print(rdd1.collect())

# This is how we can use the Map() function on the rdd data !

[('vinay', 'kumar'), ('sai', 'raj'), ('ajay', 'row')]
[('vinaykumar',), ('sairaj',), ('ajayrow',)]

##üç¨Now we will see how to use the `flatMap()` function in pyspark !

In [0]:
#The flatMap() function is a transformation operation that flattens the RDD ! After applying the function on every element and returns a mew pyspark RDD!
#It act's like the .explode() function on dataframe ! but works on RDD!

data = [('vinay kumar'),('sai raj'),('ajay row')]
rdd = spark.sparkContext.parallelize(data)
for i in rdd.collect():
    print(i)

rdd_1 = rdd.map(lambda x:x.split(" "))#It will returrn the list !
rdd_2 = rdd.flatMap(lambda x:x.split(' '))# This will remove the nested list's inside the list !

print(rdd_1.collect())
print(rdd_2.collect())

vinay kumar
sai raj
ajay row
[['vinay', 'kumar'], ['sai', 'raj'], ['ajay', 'row']]
['vinay', 'kumar', 'sai', 'raj', 'ajay', 'row']

##üé≥Now we will use the `partitionBy()` function in pyspark ! (_IMP_)

## üçâIMP:-
    The partition is the concept of making the large files in to small files for speed action and read/write operations operation's 
    the partition is must more important for large data files !

    You can make a partition of a dataframe based on the column in that dataframe !
    then you will find the differend data files names after the data in the column that you have used in the partition !
    and when you view the data in that file then you won't find the column name that you have used in those files because 
    based on that column they were differed so there is no reason to keep those columns in that data files !

    ! You can make miltiple data partitions on the came column on differend locations and you can even make an list of columns
    that you need to partition !

In [0]:
# partitioning is a way to split the data into multiple partitions so that you can execute transformations 
# on multiple partitions in parallel which allows completing the job faster.
# You can also write partitioned data into a file system (multiple sub-directories) for faster reads by downstream systems.
# In order to perform this partitioning in the pyspark we use the partitionBy() function !

datal = [(1, 'maheer' ,2008,2,'M','Cloud'),(2, 'wafa' ,3000,1,'F','Cloud'),(3, 'abcd' ,1000,4,'F','HR')]
schemal = ['Id', 'name', 'salary','exp','gender','domain']
df = spark.createDataFrame(datal,schemal)
df.show()

+---+------+------+---+------+------+
| Id|  name|salary|exp|gender|domain|
+---+------+------+---+------+------+
|  1|maheer|  2008|  2|     M| Cloud|
|  2|  wafa|  3000|  1|     F| Cloud|
|  3|  abcd|  1000|  4|     F|    HR|
+---+------+------+---+------+------+

In [0]:
# Now we will write this to the local DBFS in databricks ! and apply the partiction on that !
df.write.parquet('/FileStore/partiction_example',mode = 'overwrite',partitionBy = 'domain')# Right now i am trying to partiction the domain column in the given
# File path !

In [0]:
# We will see a separate files in the given file path and those files are 1)--> Cloud and 2)--> HR 

# Now we will access those partiction file data !
spark.read.parquet('/FileStore/partiction_example').show()

# Now we will only like to see the partiction data of domail Cloud !
spark.read.parquet('dbfs:/FileStore/partiction_example/domain=Cloud').show()
# But we cannot find the domain column in the partioned data file because the data is already filtered based on the domail as Cloud so it is no use 
# To save that # column in the dataframe

# Now we will only like to see the partiction data of domail HR !
spark.read.parquet('dbfs:/FileStore/partiction_example/domain=HR').show()

+---+------+------+---+------+------+
| Id|  name|salary|exp|gender|domain|
+---+------+------+---+------+------+
|  1|maheer|  2008|  2|     M| Cloud|
|  2|  wafa|  3000|  1|     F| Cloud|
|  3|  abcd|  1000|  4|     F|    HR|
+---+------+------+---+------+------+

+---+------+------+---+------+
| Id|  name|salary|exp|gender|
+---+------+------+---+------+
|  1|maheer|  2008|  2|     M|
|  2|  wafa|  3000|  1|     F|
+---+------+------+---+------+

+---+----+------+---+------+
| Id|name|salary|exp|gender|
+---+----+------+---+------+
|  3|abcd|  1000|  4|     F|
+---+----+------+---+------+

In [0]:
# we can do the partition with more then one column like you can take the column name and againg partition the other column inside that column !

df.write.parquet('/FileStore/partiction_example/miltiple_partition',mode ="overwrite",partitionBy = ['gender','domain'])

# In this above line i am partitining the dataframe based on gender and inside i am again partition the data by domain !

In [0]:
# Now we will access the saved data !
spark.read.parquet('/FileStore/partiction_example/miltiple_partition').show()# It will show all the data ! combined 


# Now i need only the gender data of male !
spark.read.parquet('dbfs:/FileStore/partiction_example/miltiple_partition/gender=M').show()# This will show the male data !

# Now i need only the gender data of female !
spark.read.parquet('dbfs:/FileStore/partiction_example/miltiple_partition/gender=F').show()# This will show the female data !

# Now i need the data of a gender femail and domain is cloud !
spark.read.parquet('dbfs:/FileStore/partiction_example/miltiple_partition/gender=F/domain=Cloud').show()

# _--------------------------------------------------This is how the partitionBy works in pyspark IMP-------------------------------------------_

+---+------+------+---+------+------+
| Id|  name|salary|exp|gender|domain|
+---+------+------+---+------+------+
|  1|maheer|  2008|  2|     M| Cloud|
|  2|  wafa|  3000|  1|     F| Cloud|
|  3|  abcd|  1000|  4|     F|    HR|
+---+------+------+---+------+------+

+---+------+------+---+------+
| Id|  name|salary|exp|domain|
+---+------+------+---+------+
|  1|maheer|  2008|  2| Cloud|
+---+------+------+---+------+

+---+----+------+---+------+
| Id|name|salary|exp|domain|
+---+----+------+---+------+
|  2|wafa|  3000|  1| Cloud|
|  3|abcd|  1000|  4|    HR|
+---+----+------+---+------+

+---+----+------+---+
| Id|name|salary|exp|
+---+----+------+---+
|  2|wafa|  3000|  1|
+---+----+------+---+

##üéíNow we will see how to use the `from_json()` function in pyspark !

In [0]:
# The from_json() function is used to convert json string into MapType ! The MapType is like a dict !

data = [('Vinay', '{"domains":["Hr","Cloud"]}'), ('Kumar', '{"domains":["Data_Engineer","Data_Scientist"]}')]
sch = ['Name','Exp']
df = spark.createDataFrame(data,sch)
df.printSchema()
df.show(truncate = False)

# Now the data is in json string formate now i am going to convert that json string to mapType()
from pyspark.sql.functions import *
from pyspark.sql.types import *

sch = MapType(StringType(),ArrayType(StringType()))
df = df.withColumn('New_Exp',from_json(df.Exp,sch))
df.show(truncate = False)

# This is how we can convert the json stringType() to the MapType()
df.select('New_Exp',df.New_Exp.domains[0]).show() #1

root
 |-- Name: string (nullable = true)
 |-- Exp: string (nullable = true)

+-----+----------------------------------------------+
|Name |Exp                                           |
+-----+----------------------------------------------+
|Vinay|{"domains":["Hr","Cloud"]}                    |
|Kumar|{"domains":["Data_Engineer","Data_Scientist"]}|
+-----+----------------------------------------------+

+-----+----------------------------------------------+--------------------------------------------+
|Name |Exp                                           |New_Exp                                     |
+-----+----------------------------------------------+--------------------------------------------+
|Vinay|{"domains":["Hr","Cloud"]}                    |{domains -> [Hr, Cloud]}                    |
|Kumar|{"domains":["Data_Engineer","Data_Scientist"]}|{domains -> [Data_Engineer, Data_Scientist]}|
+-----+----------------------------------------------+--------------------------------------------+

+--------------------+-------------------+
|             New_Exp|New_Exp[domains][0]|
+--------------------+-------------------+
|{domains -> [Hr, ...|                 Hr|
|{domains -> [Data...|      Data_Engineer|
+--------------------+-------------------+

# üçÉNow i am trying to connect with the mongoDB !

In [0]:
import pymongo

# Your MongoDB connection details
mongo_uri ="mongodb+srv://Vinay:VinayKumarKarivena77@cluster0.dnbkemf.mongodb.net/?retryWrites=true&w=majority" # Update with your MongoDB URI
database_name = "first"       # Update with your database name
collection_name = "data"   # Update with your collection name

# Sample data
data = [
    (1, 'vinay', ['Hr', 'DeOps', 'Frontend']),
    (2, 'kumar', ['marketing', 'DeOps', 'sales']),
    (3, 'vinay', ['Tester', 'fullstack', 'Backend']),
    (4, 'vijaya', ['Hr', 'cybersecurity', 'tester']),
    (3, 'kavya', ['marketing', 'cloud', 'advertise'])
]

# Connect to MongoDB
client = pymongo.MongoClient(mongo_uri)

# Select or create the database
db = client[database_name]

# Select or create the collection
collection = db[collection_name]

# Insert data into the collection
for record in data:
    document = {
        'id': record[0],
        'name': record[1],
        'roles': record[2]
    }
    collection.insert_one(document)

# Close the MongoDB connection
client.close()
print('It is done')

---------------------------------------------------------------------------
ServerSelectionTimeoutError               Traceback (most recent call last)
File <command-3046991485909795>:33
     27 for record in data:
     28     document = {
     29         'id': record[0],
     30         'name': record[1],
     31         'roles': record[2]
     32     }
---> 33     collection.insert_one(document)
     35 # Close the MongoDB connection
     36 client.close()

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pymongo/collection.py:669, in Collection.insert_one(self, document, bypass_document_validation, session, comment)
    665     document["_id"] = ObjectId()  # type: ignore[index]
    667 write_concern = self._write_concern_for(session)
    668 return InsertOneResult(
--> 669     self._insert_one(
    670         document,
    671         ordered=True,
    672         write_concern=write_concern,
    673         op_id=None,
    674         bypass_doc_val=bypass_document_validation,
    675         session=session,
    676         comment=comment,
    677     ),
    678     write_concern.acknowledged,
    679 )

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pymongo/collection.py:609, in Collection._insert_one(self, doc, ordered, write_concern, op_id, bypass_doc_val, session, comment)
    597     result = conn.command(
    598         self.__database.name,
    599         command,
   (...)
    604         retryable_write=retryable_write,
    605     )
    607     _check_write_command_response(result)
--> 609 self.__database.client._retryable_write(acknowledged, _insert_command, session)
    611 if not isinstance(doc, RawBSONDocument):
    612     return doc.get("_id")

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pymongo/mongo_client.py:1522, in MongoClient._retryable_write(self, retryable, func, session, bulk)
   1502 def _retryable_write(
   1503     self,
   1504     retryable: bool,
   (...)
   1507     bulk: Optional[_Bulk] = None,
   1508 ) -> T:
   1509     """Execute an operation with consecutive retries if possible
   1510
   1511     Returns func()'s return value on success. On error retries the same
   (...)
   1520       - `bulk`: bulk abstraction to execute operations in bulk, defaults to None
   1521     """
-> 1522     with self._tmp_session(session) as s:
   1523         return self._retry_with_session(retryable, func, s, bulk)

File /usr/lib/python3.9/contextlib.py:117, in _GeneratorContextManager.__enter__(self)
    115 del self.args, self.kwds, self.func
    116 try:
--> 117     return next(self.gen)
    118 except StopIteration:
    119     raise RuntimeError("generator didn't yield") from None

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pymongo/mongo_client.py:1840, in MongoClient._tmp_session(self, session, close)
   1837     yield session
   1838     return
-> 1840 s = self._ensure_session(session)
   1841 if s:
   1842     try:

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pymongo/mongo_client.py:1823, in MongoClient._ensure_session(self, session)
   1818     return session
   1820 try:
   1821     # Don't make implicit sessions causally consistent. Applications
   1822     # should always opt-in.
-> 1823     return self.__start_session(True, causal_consistency=False)
   1824 except (ConfigurationError, InvalidOperation):
   1825     # Sessions not supported.
   1826     return None

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pymongo/mongo_client.py:1766, in MongoClient.__start_session(self, implicit, **kwargs)
   1763 def __start_session(self, implicit: bool, **kwargs: Any) -> ClientSession:
   1764     # Raises ConfigurationError if sessions are not supported.
   1765     if implicit:
-> 1766         self._topology._check_implicit_session_support()
   1767         server_session: Union[_EmptyServerSession, _ServerSession] = _EmptyServerSession()
   1768     else:

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pymongo/topology.py:573, in Topology._check_implicit_session_support(self)
    571 def _check_implicit_session_support(self) -> None:
    572     with self._lock:
--> 573         self._check_session_support()

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pymongo/topology.py:589, in Topology._check_session_support(self)
    585         self._select_servers_loop(
    586             any_server_selector, self.get_server_selection_timeout(), None
    587         )
    588 elif not self._description.readable_servers:
--> 589     self._select_servers_loop(
    590         readable_server_selector, self.get_server_selection_timeout(), None
    591     )
    593 session_timeout = self._description.logical_session_timeout_minutes
    594 if session_timeout is None:

File /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages/pymongo/topology.py:259, in Topology._select_servers_loop(self, selector, timeout, address)
    256 while not server_descriptions:
    257     # No suitable servers.
    258     if timeout == 0 or now > end_time:
--> 259         raise ServerSelectionTimeoutError(
    260             f"{self._error_message(selector)}, Timeout: {timeout}s, Topology Description: {self.description!r}"
    261         )
    263     self._ensure_opened()
    264     self._request_check_all()

ServerSelectionTimeoutError: SSL handshake failed: ac-iyanxel-shard-00-02.dnbkemf.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1129) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms),SSL handshake failed: ac-iyanxel-shard-00-00.dnbkemf.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1129) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms),SSL handshake failed: ac-iyanxel-shard-00-01.dnbkemf.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1129) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms), Timeout: 30s, Topology Description: <TopologyDescription id: 65a94603f28fbc78a1202abe, topology_type: ReplicaSetNoPrimary, servers: [<ServerDescription ('ac-iyanxel-shard-00-00.dnbkemf.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('SSL handshake failed: ac-iyanxel-shard-00-00.dnbkemf.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1129) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>, <ServerDescription ('ac-iyanxel-shard-00-01.dnbkemf.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('SSL handshake failed: ac-iyanxel-shard-00-01.dnbkemf.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1129) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>, <ServerDescription ('ac-iyanxel-shard-00-02.dnbkemf.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('SSL handshake failed: ac-iyanxel-shard-00-02.dnbkemf.mongodb.net:27017: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error (_ssl.c:1129) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>]>

##ü§ïNow we will see how we can convert the `json_string` into the `StructType()` in pyspark !

In [0]:
data = [('Vinay', '{"domains":"HR","Exp_Years":"23"}'), ('Kumar', '{"domains":"Cloud","Exp_Years":"12"}')]
sch = ['Name','History_Emp']
df = spark.createDataFrame(data,sch)
df.printSchema()
df.show(truncate = False)

# Now i will try to convert the json_string type to the StructType() using the from_json() function !
from pyspark.sql.functions import *
from pyspark.sql.types import *

sc = StructType([StructField('domains',StringType()),StructField('Exp_Years',StringType())])
df_1 = df.withColumn('Historyp',from_json(df.History_Emp,sc))
df_1.printSchema()
df_1.show(truncate = False)
df_1.select('Historyp',col('Historyp').domains).show()
df_1.select('Historyp',col('Historyp').Exp_Years).show()

root
 |-- Name: string (nullable = true)
 |-- History_Emp: string (nullable = true)

+-----+------------------------------------+
|Name |History_Emp                         |
+-----+------------------------------------+
|Vinay|{"domains":"HR","Exp_Years":"23"}   |
|Kumar|{"domains":"Cloud","Exp_Years":"12"}|
+-----+------------------------------------+

root
 |-- Name: string (nullable = true)
 |-- History_Emp: string (nullable = true)
 |-- Historyp: struct (nullable = true)
 |    |-- domains: string (nullable = true)
 |    |-- Exp_Years: string (nullable = true)

+-----+------------------------------------+-----------+
|Name |History_Emp                         |Historyp   |
+-----+------------------------------------+-----------+
|Vinay|{"domains":"HR","Exp_Years":"23"}   |{HR, 23}   |
|Kumar|{"domains":"Cloud","Exp_Years":"12"}|{Cloud, 12}|
+-----+------------------------------------+-----------+

+-----------+----------------+
|   Historyp|Historyp.domains|
+-----------+----------------+
|   {HR, 23}|              HR|
|{Cloud, 12}|           Cloud|
+-----------+----------------+

+-----------+------------------+
|   Historyp|Historyp.Exp_Years|
+-----------+------------------+
|   {HR, 23}|                23|
|{Cloud, 12}|                12|
+-----------+------------------+

##üò≠Now we will see how to use the `to_json()` function in the pyspark !

In [0]:
# This function is nothing but in this we will convert the mapType() or StructType() in to the json_string using `to_json()` function !
from pyspark.sql.functions import *
from pyspark.sql.types import *
# This is the StructType() data !
data = [('Vinay', ("HR","23")), ('Kumar', ("Cloud","12"))]
in_sch = StructType([
    StructField('Dep', StringType()),
    StructField('Years_exp', StringType())
])
out_sch = StructType([
    StructField('name', StringType()),
    StructField('Details', in_sch)
])

df = spark.createDataFrame(data,out_sch)
df.printSchema()
df.show(truncate = False)


# This is how the Nested StructType() data will look like after it has been converted in the json_string Type it do look like the mapType() like  dictionary!
# Now i will convert the StructType() data column into the json_string!
df_1 = df.withColumn('Details',to_json(df.Details))
df_1.show(truncate = False)
df_1.printSchema()

# Now i will creata a MapType() data !

data_1 = [('vinay',{'Age':23.0,'Height':5.8}),('kumar',{'Age':34.0,'Height':6.2})]
schwww = StructType([StructField('Name',StringType()),StructField('Data',MapType(StringType(),DoubleType()))])
df_22 = spark.createDataFrame(data_1,schwww)
df_22.printSchema()
df_22.show(truncate = False)

# Now i am going to 
df_33 = df_22.withColumn('Data',to_json(df_22.Data))
df_33.printSchema()
df_33.show(truncate = False)

root
 |-- name: string (nullable = true)
 |-- Details: struct (nullable = true)
 |    |-- Dep: string (nullable = true)
 |    |-- Years_exp: string (nullable = true)

+-----+-----------+
|name |Details    |
+-----+-----------+
|Vinay|{HR, 23}   |
|Kumar|{Cloud, 12}|
+-----+-----------+

+-----+--------------------------------+
|name |Details                         |
+-----+--------------------------------+
|Vinay|{"Dep":"HR","Years_exp":"23"}   |
|Kumar|{"Dep":"Cloud","Years_exp":"12"}|
+-----+--------------------------------+

root
 |-- name: string (nullable = true)
 |-- Details: string (nullable = true)

root
 |-- Name: string (nullable = true)
 |-- Data: map (nullable = true)
 |    |-- key: string
 |    |-- value: double (valueContainsNull = true)

+-----+----------------------------+
|Name |Data                        |
+-----+----------------------------+
|vinay|{Height -> 5.8, Age -> 23.0}|
|kumar|{Height -> 6.2, Age -> 34.0}|
+-----+----------------------------+

root
 |-- Name: string (nullable = true)
 |-- Data: string (nullable = true)

+-----+-------------------------+
|Name |Data                     |
+-----+-------------------------+
|vinay|{"Height":5.8,"Age":23.0}|
|kumar|{"Height":6.2,"Age":34.0}|
+-----+-------------------------+

##ü©≥Now we will see how to use the `json_tuple()` function in the pyspark !

In [0]:
# This json_tuple() function is used to extract or query elements from the json string column and create as a new columns !
from pyspark.sql.functions import *
from pyspark.sql.types import *
# Now i will create a data 
data = [('Vinay','{"age":"23","height":"5.6","weight":"68"}'),('Kumar','{"age":"33","height":"4.3","weight":"44"}')]
sch = ['Name','Prop']
# In this data i have made the StructType() or a MapType() data in to the json_string type ()
df = spark.createDataFrame(data,sch)
df.show(truncate=False)
df.printSchema()

# Now what i need to do is that i want to take each element from the json_string 'Prop' and make a new columns and stores the data in that row !
# With out converting the json_string column to the mapType() or a StructType() ! I want it to happen directly !

df_1 = df.withColumn('AGE',json_tuple(df.Prop,'age')).withColumn('HEIGHT',json_tuple(df.Prop,'height')).withColumn('WEIGHT',json_tuple(df.Prop,'weight'))

df_1.show(truncate = False)


# Now as you can see that the data columns that we have added to the dataframe are not having the right datatype's to it 
# we can change that using with column and .cast() but there is an other way we can do that using the json_tuple() function !

# I am defiing the schema that i need the json_tuple() to get !



df_1 = df_1.withColumn("AGE",col('AGE').cast('Int')).withColumn("HEIGHT",col('HEIGHT').cast('Float')).withColumn("WEIGHT",col('WEIGHT').cast('Int'))
df_1.show(truncate = False)
df_1.printSchema()

df_1.select(when(df_1.AGE < 25,df_1.Name).otherwise('nope').alias('yep')).show()

df_1.filter(df_1.AGE >21).select(df_1.Name).show()

df.select('Name',json_tuple('Prop','age','height','weight').alias('AGE','HEIGHT','WEIGHT')).show(truncate=False) #This is also a valid way of 
# accesing the columns from the json string usin gthe json_tuple() function !


# NOTE:- we can only use the json_tuple() function on the flat json string containes only one mapType in the
# If u want to perform the ectraction of the columns which are inside the nested maptype() inside the json string then 
# We have use the get_json_object() function !

+-----+-----------------------------------------+
|Name |Prop                                     |
+-----+-----------------------------------------+
|Vinay|{"age":"23","height":"5.6","weight":"68"}|
|Kumar|{"age":"33","height":"4.3","weight":"44"}|
+-----+-----------------------------------------+

root
 |-- Name: string (nullable = true)
 |-- Prop: string (nullable = true)

+-----+-----------------------------------------+---+------+------+
|Name |Prop                                     |AGE|HEIGHT|WEIGHT|
+-----+-----------------------------------------+---+------+------+
|Vinay|{"age":"23","height":"5.6","weight":"68"}|23 |5.6   |68    |
|Kumar|{"age":"33","height":"4.3","weight":"44"}|33 |4.3   |44    |
+-----+-----------------------------------------+---+------+------+

+-----+-----------------------------------------+---+------+------+
|Name |Prop                                     |AGE|HEIGHT|WEIGHT|
+-----+-----------------------------------------+---+------+------+
|Vinay|{"age":"23","height":"5.6","weight":"68"}|23 |5.6   |68    |
|Kumar|{"age":"33","height":"4.3","weight":"44"}|33 |4.3   |44    |
+-----+-----------------------------------------+---+------+------+

root
 |-- Name: string (nullable = true)
 |-- Prop: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- HEIGHT: float (nullable = true)
 |-- WEIGHT: integer (nullable = true)

+-----+
|  yep|
+-----+
|Vinay|
| nope|
+-----+

+-----+
| Name|
+-----+
|Vinay|
|Kumar|
+-----+

+-----+---+------+------+
|Name |AGE|HEIGHT|WEIGHT|
+-----+---+------+------+
|Vinay|23 |5.6   |68    |
|Kumar|33 |4.3   |44    |
+-----+---+------+------+

+----+----+----+----+
|name|age |city|zip |
+----+----+----+----+
|null|null|null|null|
|null|null|null|null|
+----+----+----+----+

##ü•∂Now we will see how to use the `get_json_object()` function in pyspark !

In [0]:
# This get_json_object() function is used to extrace the json string based on the path from the json column !

data = [('vinay',"{'address':{'city':'Kurnool','state':'AP'},'gender':'male'}"),
        ('kumari',"{'address':{'city':'Nandyal','state':'AP'},'gender':'female'}")]
sch = ['Name','Props']
df = spark.createDataFrame(data,sch)
df.show(truncate = False)
df.printSchema()
df.select('Name',get_json_object('props','$.address.city').alias('City')).show()

+------+-------------------------------------------------------------+
|Name  |Props                                                        |
+------+-------------------------------------------------------------+
|vinay |{'address':{'city':'Kurnool','state':'AP'},'gender':'male'}  |
|kumari|{'address':{'city':'Nandyal','state':'AP'},'gender':'female'}|
+------+-------------------------------------------------------------+

root
 |-- Name: string (nullable = true)
 |-- Props: string (nullable = true)

+------+-------+
|  Name|   City|
+------+-------+
| vinay|Kurnool|
|kumari|Nandyal|
+------+-------+

##üëªThe Difference between `json_tuple()` function and the `get_json_object()` function in pyspark !

####While both json_tuple() and get_json_object() functions in PySpark are used for extracting data from JSON strings, there are key differences in their functionalities and use cases:



1) -----> (_Multiple Values vs. Single Value_):

    json_tuple() is designed for extracting multiple values from a JSON string simultaneously. It returns a tuple containing the specified values.
    get_json_object(), on the other hand, is focused on extracting a single value at a time. It is used when you want to retrieve a specific value based on a JSON path expression.

2) -----> (_Usage with Nested Structures_):

    json_tuple() is well-suited for handling nested structures in JSON strings. You can use dot notation to specify nested keys and extract values from within those nested structures.
    get_json_object() also supports JSON path expressions, allowing you to navigate through nested structures and retrieve values. However, it is generally used for extracting individual values rather than multiple values from nested structures.

3) -----> (_Flexibility_):

    json_tuple() provides more flexibility when you need to extract several values from different parts of the JSON string, especially if they are nested.
    get_json_object() is more focused on simplicity and is often used when you need to extract specific values from a flat or moderately nested JSON structure.

##üòµ‚Äçüí´No we will see how to use the `current_date()` , `to_data()` and `data_format()` functions in the pyspark !

In [0]:
df = spark.range(1,7)
df.show()

# Now i would like to add the new column that hold's the current date !
from pyspark.sql.functions import *
df = df.withColumn('currentDate',current_date())
df.show(truncate = False)
df.printSchema()

# Now what if i want to change the formate of the data ! in the currentDate column !

df = df.withColumn('currentDate',date_format(df.currentDate,'yyyy/^\mm/^\dd'))
df.printSchema()# After changing the format of the currentDate is changed to the string !
df.show()
# Now i wan tto change the currentDate into the default format and datatype also then !

df = df.withColumn('currentDate',to_date(df.currentDate,'yyyy/^\mm/^\dd'))# In this you have to specify the format of the date in that column ! then to_date will 
# Change that date string to the actual date dataType()
df.show()
df.printSchema()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
+---+

+---+-----------+
|id |currentDate|
+---+-----------+
|1  |2024-01-20 |
|2  |2024-01-20 |
|3  |2024-01-20 |
|4  |2024-01-20 |
|5  |2024-01-20 |
|6  |2024-01-20 |
+---+-----------+

root
 |-- id: long (nullable = false)
 |-- currentDate: date (nullable = false)

root
 |-- id: long (nullable = false)
 |-- currentDate: string (nullable = false)

+---+--------------+
| id|   currentDate|
+---+--------------+
|  1|2024/^\00/^\20|
|  2|2024/^\00/^\20|
|  3|2024/^\00/^\20|
|  4|2024/^\00/^\20|
|  5|2024/^\00/^\20|
|  6|2024/^\00/^\20|
+---+--------------+

+---+-----------+
| id|currentDate|
+---+-----------+
|  1| 2024-01-20|
|  2| 2024-01-20|
|  3| 2024-01-20|
|  4| 2024-01-20|
|  5| 2024-01-20|
|  6| 2024-01-20|
+---+-----------+

root
 |-- id: long (nullable = false)
 |-- currentDate: date (nullable = true)

##ü§¨Now we will see how to use the `datediff()` , `months_between()` , `add_months()` , `date_add()` , `month()` , `year()` function in the pyspark !

In [0]:
df = spark.createDataFrame([('2015-06-14','2015-07-14')],['date_1','date_2'])
df.show()

df = df.withColumn('dateDiff',datediff(df.date_2,df.date_1))# This will show how many day's of difference !
df.show()

df = df.withColumn('monthsBetw',months_between(df.date_2,df.date_1))# This will show how many month's of difference !
df.show()

df = df.withColumn('addMonths',add_months(df.date_2,6))# This will add the months to the provided date with the no of months provided !
df = df.withColumn('subMonths',add_months(df.date_1,-6))# This will subtract the months to the provided date with the no of months provided in the '-' sigh !
df.show()

df = df.withColumn('addDays',date_add(df.date_1,12))# This will add the day's to the specified date that is provided !
df = df.withColumn('subDays',date_add(df.date_1,-12))# This will subtract the day's to the specified date that is provided  with the '-' sign !
df.show()

df = df.withColumn('month_in_the_date!',month(df.date_1))
df = df.withColumn('year_in_the_date!',year(df.date_1))
df.show()
df.printSchema()

# NOTE:-
        # At first we have created the date in the tuple as a string the easy way to convert the string date in to date datatype is by using the 
        # date_format() and add_months() with '0' months adding !

+----------+----------+
|    date_1|    date_2|
+----------+----------+
|2015-06-14|2015-07-14|
+----------+----------+

+----------+----------+--------+
|    date_1|    date_2|dateDiff|
+----------+----------+--------+
|2015-06-14|2015-07-14|      30|
+----------+----------+--------+

+----------+----------+--------+----------+
|    date_1|    date_2|dateDiff|monthsBetw|
+----------+----------+--------+----------+
|2015-06-14|2015-07-14|      30|       1.0|
+----------+----------+--------+----------+

+----------+----------+--------+----------+----------+----------+
|    date_1|    date_2|dateDiff|monthsBetw| addMonths| subMonths|
+----------+----------+--------+----------+----------+----------+
|2015-06-14|2015-07-14|      30|       1.0|2016-01-14|2014-12-14|
+----------+----------+--------+----------+----------+----------+

+----------+----------+--------+----------+----------+----------+----------+----------+
|    date_1|    date_2|dateDiff|monthsBetw| addMonths| subMonths|   addDays|   subDays|
+----------+----------+--------+----------+----------+----------+----------+----------+
|2015-06-14|2015-07-14|      30|       1.0|2016-01-14|2014-12-14|2015-06-26|2015-06-02|
+----------+----------+--------+----------+----------+----------+----------+----------+

+----------+----------+--------+----------+----------+----------+----------+----------+------------------+-----------------+
|    date_1|    date_2|dateDiff|monthsBetw| addMonths| subMonths|   addDays|   subDays|month_in_the_date!|year_in_the_date!|
+----------+----------+--------+----------+----------+----------+----------+----------+------------------+-----------------+
|2015-06-14|2015-07-14|      30|       1.0|2016-01-14|2014-12-14|2015-06-26|2015-06-02|                 6|             2015|
+----------+----------+--------+----------+----------+----------+----------+----------+------------------+-----------------+

root
 |-- date_1: string (nullable = true)
 |-- date_2: string (nullable = true)
 |-- dateDiff: integer (nullable = true)
 |-- monthsBetw: double (nullable = true)
 |-- addMonths: date (nullable = true)
 |-- subMonths: date (nullable = true)
 |-- addDays: date (nullable = true)
 |-- subDays: date (nullable = true)
 |-- month_in_the_date!: integer (nullable = true)
 |-- year_in_the_date!: integer (nullable = true)

##ü§¢Now we will see how to work with `Timestamp` function in pyspark !

In [0]:
# The timestampTypw default fomart is 'yyyy-mm-dd hh:mm:ss.SS'
# current_timestamp() get the current timestamp. by default the data will be returned in default fomart !
# to_timestamp() converts timestamps in to TimestampType. We need to specify fomart of timestamp in the string in the function !
# hour() and minute(),second() function are to be used on the timestamp !!!

df = spark.range(1,8)
df= df.withColumn('currentTimestamp',current_timestamp()) #This will give the current timestamp !
df.show(truncate = False)

df = df.withColumn('timestampInString',lit('23//01//2022 02//23//23'))
df.show(truncate = False)
df.printSchema()

# Now i will convert the timestampInString column stringdata in to the timestamp in a new column !

df = df.withColumn('StringToTimestamp',to_timestamp(df.timestampInString,'mm//dd//yyyy hh//mm//ss'))# We have to provide the string format !
df.show(truncate = False)
df.printSchema()

df.select('*',hour(df.currentTimestamp).alias('Hour'),minute(df.currentTimestamp).alias('Minute'),second(df.currentTimestamp).alias('Second')).show(truncate = False)

+---+-----------------------+
|id |currentTimestamp       |
+---+-----------------------+
|1  |2024-01-20 15:53:55.275|
|2  |2024-01-20 15:53:55.275|
|3  |2024-01-20 15:53:55.275|
|4  |2024-01-20 15:53:55.275|
|5  |2024-01-20 15:53:55.275|
|6  |2024-01-20 15:53:55.275|
|7  |2024-01-20 15:53:55.275|
+---+-----------------------+

+---+-----------------------+-----------------------+
|id |currentTimestamp       |timestampInString      |
+---+-----------------------+-----------------------+
|1  |2024-01-20 15:53:55.474|23//01//2022 02//23//23|
|2  |2024-01-20 15:53:55.474|23//01//2022 02//23//23|
|3  |2024-01-20 15:53:55.474|23//01//2022 02//23//23|
|4  |2024-01-20 15:53:55.474|23//01//2022 02//23//23|
|5  |2024-01-20 15:53:55.474|23//01//2022 02//23//23|
|6  |2024-01-20 15:53:55.474|23//01//2022 02//23//23|
|7  |2024-01-20 15:53:55.474|23//01//2022 02//23//23|
+---+-----------------------+-----------------------+

root
 |-- id: long (nullable = false)
 |-- currentTimestamp: timestamp (nullable = false)
 |-- timestampInString: string (nullable = false)

+---+-----------------------+-----------------------+-------------------+
|id |currentTimestamp       |timestampInString      |StringToTimestamp  |
+---+-----------------------+-----------------------+-------------------+
|1  |2024-01-20 15:53:55.723|23//01//2022 02//23//23|2022-01-01 02:23:23|
|2  |2024-01-20 15:53:55.723|23//01//2022 02//23//23|2022-01-01 02:23:23|
|3  |2024-01-20 15:53:55.723|23//01//2022 02//23//23|2022-01-01 02:23:23|
|4  |2024-01-20 15:53:55.723|23//01//2022 02//23//23|2022-01-01 02:23:23|
|5  |2024-01-20 15:53:55.723|23//01//2022 02//23//23|2022-01-01 02:23:23|
|6  |2024-01-20 15:53:55.723|23//01//2022 02//23//23|2022-01-01 02:23:23|
|7  |2024-01-20 15:53:55.723|23//01//2022 02//23//23|2022-01-01 02:23:23|
+---+-----------------------+-----------------------+-------------------+

root
 |-- id: long (nullable = false)
 |-- currentTimestamp: timestamp (nullable = false)
 |-- timestampInString: string (nullable = false)
 |-- StringToTimestamp: timestamp (nullable = true)

+---+-----------------------+-----------------------+-------------------+----+------+------+
|id |currentTimestamp       |timestampInString      |StringToTimestamp  |Hour|Minute|Second|
+---+-----------------------+-----------------------+-------------------+----+------+------+
|1  |2024-01-20 15:53:56.161|23//01//2022 02//23//23|2022-01-01 02:23:23|15  |53    |56    |
|2  |2024-01-20 15:53:56.161|23//01//2022 02//23//23|2022-01-01 02:23:23|15  |53    |56    |
|3  |2024-01-20 15:53:56.161|23//01//2022 02//23//23|2022-01-01 02:23:23|15  |53    |56    |
|4  |2024-01-20 15:53:56.161|23//01//2022 02//23//23|2022-01-01 02:23:23|15  |53    |56    |
|5  |2024-01-20 15:53:56.161|23//01//2022 02//23//23|2022-01-01 02:23:23|15  |53    |56    |
|6  |2024-01-20 15:53:56.161|23//01//2022 02//23//23|2022-01-01 02:23:23|15  |53    |56    |
|7  |2024-01-20 15:53:56.161|23//01//2022 02//23//23|2022-01-01 02:23:23|15  |53    |56    |
+---+-----------------------+-----------------------+-------------------+----+------+------+

##üíÄNow i would like to use the aggregate functions in pyspark like `approx_count_distinct()` , `avg()` , `collect_list()` , `collect_set()` , `countDistinct()` , `Count()` !

In [0]:
datal = [(1, 'maheer' ,1000,2),(2, 'wafa' ,3000,1),(3, 'abcd' ,1000,4)]
schemal = ['Id', 'name', 'salary','dep']

df = spark.createDataFrame(datal,schemal)
df.show()
df.printSchema()

df.select(approx_count_distinct(df.salary)).show()
df.select(round(avg(df.salary), 2)).show()# This is how we use the round() function !
df.select(collect_list(df.salary)).show()
df.select(collect_set(df.salary)).show()
df.select(countDistinct(df.salary)).show()
df.select(count(df.salary)).show()

+---+------+------+---+
| Id|  name|salary|dep|
+---+------+------+---+
|  1|maheer|  1000|  2|
|  2|  wafa|  3000|  1|
|  3|  abcd|  1000|  4|
+---+------+------+---+

root
 |-- Id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dep: long (nullable = true)

+-----------------------------+
|approx_count_distinct(salary)|
+-----------------------------+
|                            2|
+-----------------------------+

+---------------------+
|round(avg(salary), 2)|
+---------------------+
|              1666.67|
+---------------------+

+--------------------+
|collect_list(salary)|
+--------------------+
|  [1000, 3000, 1000]|
+--------------------+

+-------------------+
|collect_set(salary)|
+-------------------+
|       [3000, 1000]|
+-------------------+

+----------------------+
|count(DISTINCT salary)|
+----------------------+
|                     2|
+----------------------+

+-------------+
|count(salary)|
+-------------+
|            3|
+-------------+

##üêºNow we use the `row_number()` , `rank()` , `dense_rank()` function in the pyspark !

In [0]:
# This are the ranking functions that are used upon the partitioned data using Window.partitionBy() function and for row
# Number and rank function we need to additionally order by on partition data using orderBy clause !

from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *

data = [('vinay','HR',30000),('kumar','Cloud',32000),('sai','HR',30000),('bala','Cloud',44000),('pooja','Backend',33000),('kumari','Manager',120000),('jon','Cloud',44000),('sam','HR',42000),('raj','Backend',33000)]
sch = ['Name','Dep','Salary']
df = spark.createDataFrame(data,sch)
df.show(truncate = False)
df.printSchema()
# df= df.withColumn('Id', monotonically_increasing_id()+1)

# Using the window() function and orderBy() to create a window and use that window with row_number() function to give a unique id ! to each row !
window_spec = Window().orderBy(df.Dep)
df.withColumn('Id',row_number().over(window_spec)).show()

dd = Window.partitionBy(df.Dep).orderBy(df.Salary)
df = df.withColumn('Id_Based_On_Dep',row_number().over(dd))
df.show()
# Now we will use rank() and dense_rank() functions
df=df.withColumn('Id',row_number().over(Window.orderBy(F.lit('A'))))
df  = df.withColumn('rank',rank().over(Window.orderBy('Dep')))
df.show()

df  = df.withColumn('dense_rank',dense_rank().over(Window.orderBy('Dep')))
df.show()

+------+-------+------+
|Name  |Dep    |Salary|
+------+-------+------+
|vinay |HR     |30000 |
|kumar |Cloud  |32000 |
|sai   |HR     |30000 |
|bala  |Cloud  |44000 |
|pooja |Backend|33000 |
|kumari|Manager|120000|
|jon   |Cloud  |44000 |
|sam   |HR     |42000 |
|raj   |Backend|33000 |
+------+-------+------+

root
 |-- Name: string (nullable = true)
 |-- Dep: string (nullable = true)
 |-- Salary: long (nullable = true)

+------+-------+------+---+
|  Name|    Dep|Salary| Id|
+------+-------+------+---+
| pooja|Backend| 33000|  1|
|   raj|Backend| 33000|  2|
| kumar|  Cloud| 32000|  3|
|  bala|  Cloud| 44000|  4|
|   jon|  Cloud| 44000|  5|
| vinay|     HR| 30000|  6|
|   sai|     HR| 30000|  7|
|   sam|     HR| 42000|  8|
|kumari|Manager|120000|  9|
+------+-------+------+---+

+------+-------+------+---------------+
|  Name|    Dep|Salary|Id_Based_On_Dep|
+------+-------+------+---------------+
| pooja|Backend| 33000|              1|
|   raj|Backend| 33000|              2|
| kumar|  Cloud| 32000|              1|
|  bala|  Cloud| 44000|              2|
|   jon|  Cloud| 44000|              3|
| vinay|     HR| 30000|              1|
|   sai|     HR| 30000|              2|
|   sam|     HR| 42000|              3|
|kumari|Manager|120000|              1|
+------+-------+------+---------------+

+------+-------+------+---------------+---+----+
|  Name|    Dep|Salary|Id_Based_On_Dep| Id|rank|
+------+-------+------+---------------+---+----+
| pooja|Backend| 33000|              1|  1|   1|
|   raj|Backend| 33000|              2|  2|   1|
| kumar|  Cloud| 32000|              1|  3|   3|
|  bala|  Cloud| 44000|              2|  4|   3|
|   jon|  Cloud| 44000|              3|  5|   3|
| vinay|     HR| 30000|              1|  6|   6|
|   sai|     HR| 30000|              2|  7|   6|
|   sam|     HR| 42000|              3|  8|   6|
|kumari|Manager|120000|              1|  9|   9|
+------+-------+------+---------------+---+----+

+------+-------+------+---------------+---+----+----------+
|  Name|    Dep|Salary|Id_Based_On_Dep| Id|rank|dense_rank|
+------+-------+------+---------------+---+----+----------+
| pooja|Backend| 33000|              1|  1|   1|         1|
|   raj|Backend| 33000|              2|  2|   1|         1|
| kumar|  Cloud| 32000|              1|  3|   3|         2|
|  bala|  Cloud| 44000|              2|  4|   3|         2|
|   jon|  Cloud| 44000|              3|  5|   3|         2|
| vinay|     HR| 30000|              1|  6|   6|         3|
|   sai|     HR| 30000|              2|  7|   6|         3|
|   sam|     HR| 42000|              3|  8|   6|         3|
|kumari|Manager|120000|              1|  9|   9|         4|
+------+-------+------+---------------+---+----+----------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Create a Spark session
spark = SparkSession.builder.appName("window_example").getOrCreate()

# Sample data
data = [
    ("John", "HR", 5000),
    ("Alice", "HR", 6000),
    ("Bob", "IT", 7000),
    ("Eve", "IT", 8000),
    ("Charlie", "HR", 5500),
]

# Define schema
schema = ["Name", "Department", "Salary"]

# Create a DataFrame
df = spark.createDataFrame(data, schema=schema)

# Define a Window specification partitioned by 'Department' and ordered by 'Salary'
window_spec = Window().partitionBy("Department").orderBy(F.desc("Salary"))

# Add columns for average salary, individual salary, and rank within each department
df_result = (
    df.withColumn("AverageSalary", F.avg("Salary").over(window_spec))
    .withColumn("RankInDepartment", F.row_number().over(window_spec))
    .withColumn("TotalEmployees", F.count("Name").over(window_spec))
    .withColumn("avg", F.avg("Salary").over(Window.orderBy(F.asc("Salary"))))
    .withColumn("avguu", F.avg("Salary").over(Window.orderBy("Salary")))
)


# Show the result
df_result.show(truncate=False)
overall_avg_salary = df.select(F.avg("Salary")).first()[0]


df_result.withColumn("Over_all_Avg", F.lit(overall_avg_salary)).show()

+-------+----------+------+-------------+----------------+--------------+------+------+
|Name   |Department|Salary|AverageSalary|RankInDepartment|TotalEmployees|avg   |avguu |
+-------+----------+------+-------------+----------------+--------------+------+------+
|John   |HR        |5000  |5500.0       |3               |3             |5000.0|5000.0|
|Charlie|HR        |5500  |5750.0       |2               |2             |5250.0|5250.0|
|Alice  |HR        |6000  |6000.0       |1               |1             |5500.0|5500.0|
|Bob    |IT        |7000  |7500.0       |2               |2             |5875.0|5875.0|
|Eve    |IT        |8000  |8000.0       |1               |1             |6300.0|6300.0|
+-------+----------+------+-------------+----------------+--------------+------+------+

+-------+----------+------+-------------+----------------+--------------+------+------+------------+
|   Name|Department|Salary|AverageSalary|RankInDepartment|TotalEmployees|   avg| avguu|Over_all_Avg|
+-------+----------+------+-------------+----------------+--------------+------+------+------------+
|   John|        HR|  5000|       5500.0|               3|             3|5000.0|5000.0|      6300.0|
|Charlie|        HR|  5500|       5750.0|               2|             2|5250.0|5250.0|      6300.0|
|  Alice|        HR|  6000|       6000.0|               1|             1|5500.0|5500.0|      6300.0|
|    Bob|        IT|  7000|       7500.0|               2|             2|5875.0|5875.0|      6300.0|
|    Eve|        IT|  8000|       8000.0|               1|             1|6300.0|6300.0|      6300.0|
+-------+----------+------+-------------+----------------+--------------+------+------+------------+